body {
  background-color: #111;
}

.fade-in-text {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  opacity: 0;
  transition: opacity 1s ease;
  height: 100vh;
  overflow: hidden;
}
.fade-in-text.fade-in {
  opacity: 1 !important;
}

.overlay {
  background-color: rgba(2, 2, 2, 0.31);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
}

.hero-section {
  background: url("../assets/skull-min.jpg") center/cover;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-section .hero-content {
  position: relative;
  margin: 0 auto;
  width: 70%;
  z-index: 2;
}
.hero-section .hero-content h1 {
  font-size: 7vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
  letter-spacing: 0.12em;
}
.hero-section .hero-content h2 {
  font-size: 4vw;
  color: #fff;
  letter-spacing: 0.12em;
}
.hero-section .hero-content p {
  font-size: 4vw;
  margin-bottom: 30px;
  border: 2px solid #b716e8;
}
.hero-section .cta-button {
  background-color: #fff;
  color: #b716e8;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #b716e8;
}
.hero-section .cta-button:hover {
  background-color: #b716e8;
  color: #fff;
}

.contact-section {
  margin-top: 100vh;
}

.contact-section, .about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8%;
  background: #111;
}

.two-column-layout {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-image: url("/assets/purple-right-background.jpg");
  background-size: cover;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 20px;
}

.text-column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}
.text-column h2 {
  font-size: 2rem;
  color: #b716e8;
  margin-bottom: 1em;
}
.text-column h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5em;
}
.text-column p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.12em;
  margin-bottom: 1em;
}
.text-column button {
  background-color: #fff;
  color: #b716e8;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #b716e8;
}
.text-column button:hover {
  background-color: #b716e8;
  color: #fff;
}

.image-column {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}
.image-column img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .two-column-layout {
    flex-direction: column;
  }
  .text-column {
    align-items: left;
    padding: 0;
  }
  .text-column h2, .text-column h3 {
    margin: 0.5em 0;
  }
  .text-column p {
    text-align: left;
    margin: 0.5em 0;
  }
  .text-column button {
    margin-top: 1em;
    text-align: center;
  }
  .image-column {
    margin-top: 10px;
    padding: 0;
  }
}
.work-flow {
  padding: 8%;
  background: #111;
}

.clickable-section {
  position: relative;
}
.clickable-section img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}
.clickable-section:first-child img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.clickable-section:last-child img {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.clickable-section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: white;
  font-size: 3vw;
  letter-spacing: 0.12em;
  text-align: center;
  z-index: 0;
}
.clickable-section .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Start with scale(0) to hide overlay */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
  transition-delay: 0.3s; /* Add delay for paragraph overlay */
  padding: 20px;
  border-radius: 40px;
  box-sizing: border-box;
}
.clickable-section .overlay p {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.12em;
  line-height: 1.5;
  text-align: center;
  opacity: 0; /* Start with opacity 0 to hide paragraph */
  transition: opacity 0.3s ease; /* Add opacity transition */
}
.clickable-section:hover h2 {
  opacity: 0;
}
.clickable-section:hover .overlay {
  transform: translate(-50%, -50%) scale(1); /* Expand overlay on hover */
  opacity: 1;
  transition-delay: 0.1s; /* Remove delay for overlay */
}
.clickable-section:hover .overlay p {
  opacity: 1; /* Fade in paragraph on hover */
}

.multi-image-section {
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
}

.image-container {
  flex: 1;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  -o-object-fit: cover;
     object-fit: cover;
  margin: -2px;
}
.image-container h2 {
  font-size: 16px;
  letter-spacing: 0.12em;
}
.image-container a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.image-title {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.6784313725);
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.12em;
}

.testimonials-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #111;
  padding: 50px 0;
}

.testimonials-container {
  display: flex;
  flex-direction: row; /* Ensure testimonials are in a row for sliding */
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-bottom: 50px;
  position: relative;
  width: 100%; /* Ensure the container takes full width */
  animation: slide 15s linear infinite;
}

.testimonials-title {
  font-size: 32px;
  color: #b716e8;
  padding: 50px;
  text-align: center; /* Center the title */
}

.testimonial {
  background-color: #fff;
  color: #252525;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 80%; /* Adjust as needed */
  border-radius: 10px;
  margin: 0 10px; /* Add margin between testimonials */
  flex: 0 0 100%; /* Ensure each testimonial takes full width */
}

.testimonial p {
  margin: 1em;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
.sliding-feature-section {
  display: flex;
  align-items: center;
}
.sliding-feature-section .sliding-feature-content {
  flex: 1;
  padding: 20px;
  text-align: center;
  width: 50%;
}
.sliding-feature-section .sliding-feature-image {
  flex: 1;
  overflow: hidden;
  width: 50%;
}
.sliding-feature-section .sliding-feature-image img {
  width: 100%;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  border: 4px solid red;
}
.sliding-feature-section .sliding-feature-image img.slide-in {
  transform: translateX(0);
}
.sliding-feature-section h2 {
  margin-bottom: 10px;
}
.sliding-feature-section button {
  padding: 10px 20px;
  background-color: #9500ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sliding-feature-section button:hover {
  background-color: #7a00cc;
}/*# sourceMappingURL=index.css.map */