/* Reset some default browser styles */
@font-face {
    font-family: 'LeagueSpartan';
    src: url('fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    /* Add additional font variations if needed */
}

@font-face {
    font-family: 'LibreBakersville';
    src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    /* Add additional font variations if needed */
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style for the container */
.container {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 100%; /* Add a maximum width */
    padding: 20px;
    margin: 20px;
    

}

/* Style for the left div */
.left-column {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.left-column h2 {
    margin-top: 30px;

}

.left-column p {
    letter-spacing: 1.35px;
    line-height: 2;
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px;
}
.left-column img {
    max-width: 100%;
    height: auto; /* Ensure the image maintains its aspect ratio */
}

/* Style for the right div */
.right-column {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 81px;
}

.right-column h2 {
    margin-top: 30px;

}

/* Style for form elements */
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two-column layout */
    gap: 20px;
    text-align: left;
    padding: 20px;
    margin: 20px;
    background-color: #D4A4FF;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px; /* Reduce label font size */
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="url"],
.form-group textarea {
    width: 100%;
    padding: 8px; /* Reduce input padding */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px; /* Reduce input font size */
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.checkbox-grid label::before {
    width: 15px; /* Make checkbox smaller */
    height: 15px;
}

.form-group textarea {
    height: 100px; /* Decrease textarea height */
}

button[type="submit"] {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; /* Reduce button padding */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
    height: 40px;
}

button[type="submit"]:hover {
    background-color: #4d0575;
}

@media screen and (max-width: 768px) {

    .left-column img {
        width: 30%;
    }

    .contact-form {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .form-group input[type="text"],
    .form-group input[type="tel"],
    .form-group input[type="email"],
    .form-group input[type="url"],
    .form-group textarea {
        width: calc(100% - 20px); /* Adjust width to fill available space */
    }

    button[type="submit"] {
        margin-top: 0px;
    }

}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        overflow: auto; /* Add overflow to allow horizontal scrolling if needed */
    }

}