@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
}
@font-face {
  font-family: "Monoton-Regular";
  src: url("../assets/fonts/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UtopiaStd-BlackHeadline";
  src: url("../assets/fonts/UtopiaStd-BlackHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "malden-sans-medium";
  src: url("../assets/fonts/malden-sans-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for the About page */
.about-hero {
  display: flex;
  align-items: center;
  background: url("../assets/good/plain-background.png") no-repeat center center;
  background-size: cover;
  color: #ececec;
  text-align: left;
  margin-top: 0px; /* Adjust as needed */
  margin-bottom: 0px; /* Adjust as needed */
  padding: 200px 0;
}

.hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.hero-content {
  margin: auto;
  flex: 1; /* Adjusts the width based on available space */
  text-align: left;
}
.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif; /* Custom font */
  font-weight: 700; /* Bold weight */
  color: #f2f2f2; /* Dark color for contrast */
  letter-spacing: 1px; /* Slightly increased letter spacing */
  line-height: 1.2; /* Adjusted line height for better readability */
  text-shadow: 2px 3px 3px rgba(251, 251, 251, 0.2); /* Subtle text shadow for depth */
}
.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5em; /* Adjusted line height for better readability */
}
.hero-content .cta-button {
  background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block; /* Ensures button is displayed inline */
}
.hero-content .cta-button:hover {
  background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
}

.hero-image {
  flex: 1; /* Adjusts the width based on available space */
  padding: 10px;
}
.hero-image img {
  width: 100%;
  height: auto;
  position: relative;
  display: block; /* Ensures image is displayed as a block element */
  border-radius: 10px; /* Adds a subtle rounded corner effect */
}
@media (max-width: 768px) {
  .hero-image .hero-container {
    flex-direction: column;
  }
}

.about-section {
  position: relative;
  padding: 80px 20px;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
}
.about-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}
.about-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 200px;
  width: 20%;
  height: 100%;
  background: url("/src/assets/UI-Graphics/Leaf-1.png") no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center center;
}
.about-section h2 {
  font-size: 2.5rem;
  color: #333;
  padding: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.about-section p {
  font-size: 1.2rem;
  color: #333;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
@media (max-width: 1024px) {
  .about-section:before {
    width: 100%;
    opacity: 0.15;
  }
  .about-section h2 {
    font-size: 2rem;
  }
  .about-section p {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .about-section:before {
    display: none;
  }
  .about-section h2 {
    font-size: 1.8rem;
  }
  .about-section p {
    font-size: 1rem;
  }
}

.team-section {
  padding: 30px 20px;
  background-color: #333;
}
.team-section h2 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 40px;
}
.team-section .team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1600px;
  margin: 0 auto;
}
.team-section .team-grid .team-card {
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 400px;
  border: 2px solid #fff;
  padding: 10px;
  margin: 10px;
}
.team-section .team-grid .team-card img {
  width: 70%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.team-section .team-grid .team-card img:hover {
  background: rgba(97, 0, 146, 0.7803921569);
  transition: background-color 2s ease, transform 0.3s ease;
}
.team-section .team-grid .team-card h3 {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  margin: 20px 0 10px;
}
.team-section .team-grid .team-card p {
  color: #fff;
  margin: 0 20px 20px;
  line-height: 1.6;
}
.team-section .team-grid .team-card p:first-of-type {
  color: #7403d1;
  font-style: italic;
}

.mission-section, .vision-section {
  padding: 40px 0;
  background: #fff;
}
.mission-section .container, .vision-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mission-section .mission, .mission-section .vision, .vision-section .mission, .vision-section .vision {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}
.mission-section .mission h2, .mission-section .vision h2, .vision-section .mission h2, .vision-section .vision h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.mission-section .mission p, .mission-section .vision p, .vision-section .mission p, .vision-section .vision p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 10px;
}
.mission-section .mission-image, .mission-section .vision-image, .vision-section .mission-image, .vision-section .vision-image {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}
.mission-section .mission-image img, .mission-section .vision-image img, .vision-section .mission-image img, .vision-section .vision-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .mission-section .container, .vision-section .container {
    flex-direction: column;
    align-items: center;
  }
  .mission-section .mission, .mission-section .vision, .mission-section .mission-image, .mission-section .vision-image, .vision-section .mission, .vision-section .vision, .vision-section .mission-image, .vision-section .vision-image {
    max-width: 100%;
    padding: 10px;
  }
  .mission-section .mission img, .mission-section .vision img, .mission-section .mission-image img, .mission-section .vision-image img, .vision-section .mission img, .vision-section .vision img, .vision-section .mission-image img, .vision-section .vision-image img {
    max-width: 80%;
  }
  .mission-section .mission, .mission-section .vision, .vision-section .mission, .vision-section .vision {
    text-align: center;
  }
  .mission-section .mission h2, .mission-section .vision h2, .vision-section .mission h2, .vision-section .vision h2 {
    font-size: 24px;
  }
  .mission-section .mission p, .mission-section .vision p, .vision-section .mission p, .vision-section .vision p {
    font-size: 14px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 1rem;
  margin: 0;
}

.review-carousel {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}
.review-carousel .container {
  max-width: 1200px;
  margin: 0 auto;
}
.review-carousel h2 {
  font-size: 36px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  color: #333;
}
.review-carousel .carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-carousel .carousel .carousel-control {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ff9800;
}
.review-carousel .carousel .carousel-control:hover {
  color: #e68a00;
}
.review-carousel .carousel .carousel-track-container {
  overflow: hidden;
  width: 100%;
}
.review-carousel .carousel .carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.review-carousel .carousel .carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.review-carousel .carousel .carousel-slide.current-slide {
  opacity: 1;
}
.review-carousel .carousel .carousel-slide:not(.current-slide) {
  opacity: 0;
}
.review-carousel .carousel .carousel-slide .review {
  background-color: #fff7f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}
.review-carousel .carousel .carousel-slide .review .rating {
  color: #ff9800;
  font-size: 1.5rem;
}
.review-carousel .carousel .carousel-slide .review p {
  font-size: 1rem;
  color: #333;
  margin: 20px 0;
}
.review-carousel .carousel .carousel-slide .review .reviewer .name {
  font-weight: bold;
  color: #ff9800;
}
.review-carousel .carousel .carousel-slide .review .reviewer .source {
  color: #999;
}
.review-carousel .carousel .carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.review-carousel .carousel .carousel-nav .carousel-indicator {
  background-color: #ff9800;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.review-carousel .carousel .carousel-nav .carousel-indicator.current-slide {
  background-color: #e68a00;
}

.join-team {
  padding: 80px 0;
  background-color: #f7f7f7;
}
.join-team .container {
  max-width: 1200px;
  margin: 0 auto;
}
.join-team h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}
.join-team p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
}
.join-team .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.join-team .row .col {
  flex: 0 0 calc(50% - 15px);
  padding: 0 15px;
}
@media (max-width: 768px) {
  .join-team .row .col {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}
.join-team .row .col h2 {
  padding-bottom: 20px;
  text-align: center;
}
.join-team .row .col .content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
  border-radius: 20px;
}
.join-team .row .col form {
  padding: 30px;
  background: linear-gradient(135deg, rgba(171, 10, 224, 0.6), rgba(133, 0, 181, 0.7), rgba(141, 0, 212, 0.5), rgba(109, 10, 144, 0.4), rgba(171, 10, 224, 0.35));
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Adding a box shadow for 3D effect */
  color: #fff;
}
.join-team .row .col form .form-group {
  margin-bottom: 15px;
}
.join-team .row .col form .form-group input, .join-team .row .col form .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 1rem;
}
.join-team .row .col form .form-group input:focus, .join-team .row .col form .form-group textarea:focus {
  outline: none;
  border-color: #007bff;
}
.join-team .row .col form .form-group textarea {
  resize: vertical;
}
.join-team .row .col form .form-group input[type=file] {
  display: block;
  margin-top: 5px;
}
.join-team .row .col form button {
  background-color: #AB0AE0;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
}
.join-team .row .col form button:hover {
  background-color: #8500b5;
}
.join-team .row .col form .error {
  margin-top: 30px;
  color: #ff3c3c;
  display: none;
}
.join-team .row .col form .success {
  margin-top: 30px;
  color: green;
  display: none;
}

.resume-label {
  color: black;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.success-message {
  background-color: #f4f4f4;
  position: fixed;
  font-size: 22px;
  top: 0;
  z-index: 9999;
}

#form_error, .success_icon, .error_msg {
  margin: 0.5rem;
  display: none;
}

.error_msg {
  color: #b91616;
}/*# sourceMappingURL=about.css.map */