@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
}
body {
  background-color: #111;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.12em;
  line-height: 1.5;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/information.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.hero-section .hero-content {
  max-width: 800px;
  height: auto;
  padding: 20px;
}
.hero-section .hero-content h1 {
  font-size: 7vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
  letter-spacing: 0.12em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero-section .hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}
.hero-section .hero-content .hero-button {
  background-color: #fff;
  color: #aa13dc;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #aa13dc;
}
.hero-section .hero-content .hero-button:hover {
  background-color: #aa13dc;
  color: #fff;
}

.about-section {
  margin-top: 400px;
  padding: 60px 20px;
  background-color: #111;
}
.about-section .about-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1600px;
  margin: 0 auto;
}
.about-section .about-grid .about-text {
  background-color: #222;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 500px;
}
.about-section .about-grid .about-text h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}
.about-section .about-grid .about-text h3 {
  color: #aa13dc;
  font-size: 24px;
  margin-bottom: 10px;
}
.about-section .about-grid .about-text p {
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.6;
}
.about-section .about-grid .about-text button {
  background-color: #fff;
  color: #aa13dc;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #aa13dc;
}
.about-section .about-grid .about-text button:hover {
  background-color: #aa13dc;
  color: #fff;
}
.about-section .about-grid .about-image {
  flex: 1 1 400px;
  padding: 20px;
  text-align: center;
}
.about-section .about-grid .about-image img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-section {
  padding: 60px 20px;
  background-color: #111;
}
.team-section h2 {
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 40px;
}
.team-section .team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1600px;
  margin: 0 auto;
}
.team-section .team-grid .team-card {
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 400px;
}
.team-section .team-grid .team-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-section .team-grid .team-card h3 {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  margin: 20px 0 10px;
}
.team-section .team-grid .team-card p {
  color: #fff;
  margin: 0 20px 20px;
  line-height: 1.6;
}
.team-section .team-grid .team-card p:first-of-type {
  color: #aa13dc;
  font-style: italic;
}

.our-story-section .container p {
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  color: #fff;
}

.our-story-section, .our-values-section {
  padding: 60px 20px;
  background-color: #111;
}
.our-story-section .container, .our-values-section .container {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.our-story-section .container h2, .our-values-section .container h2 {
  color: #aa13dc;
  font-size: 32px;
  margin-bottom: 40px;
}
.our-story-section .container p, .our-values-section .container p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.our-values-section .values-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.our-values-section .values-grid .value-item {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 400px;
}
.our-values-section .values-grid .value-item h3 {
  color: rgba(255, 255, 255, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 24px;
  margin-bottom: 10px;
}
.our-values-section .values-grid .value-item p {
  color: #fff;
  line-height: 1.5;
}/*# sourceMappingURL=about.css.map */