@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
}
body {
  margin: 0;
  background-color: #111;
  color: #252525;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main .hero-section {
  height: 50vh; /* Takes half the screen height */
  background: url("../assets/man-on-phone-right.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6e068b;
  text-align: center;
  padding: 20px;
  background-color: #222222;
}
main .hero-section h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
  letter-spacing: 0.12em;
}
main .hero-section p {
  font-size: 3vw;
  margin-bottom: 30px;
}
main .hero-section button {
  background-color: #fff;
  color: #aa13dc;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #aa13dc;
}
main .hero-section button:hover {
  background-color: #aa13dc;
  color: #fff;
}
main .contact-section {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
main .contact-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
main .contact-section .container .contact-info {
  flex: 1;
}
main .contact-section .container .contact-info h2 {
  color: #aa13dc;
}
main .contact-section .container .contact-info h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  letter-spacing: 0.12em;
}
main .contact-section .container .contact-info p, main .contact-section .container .contact-info a {
  color: #fff;
  margin: 10px 0;
  text-decoration: none;
}
main .contact-section .container .contact-info .social-media {
  display: flex;
  gap: 10px;
}
main .contact-section .container .contact-info .social-media a {
  color: #3498db;
  font-size: 1.5em;
  transition: color 0.3s;
}
main .contact-section .container .contact-info .social-media a:hover {
  color: #aa13dc;
}
main .contact-section .container .contact-form {
  flex: 1;
  background-color: rgba(34, 34, 34, 0.4156862745);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #fff;
}
main .contact-section .container .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .contact-section .container .contact-form form input, main .contact-section .container .contact-form form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.2941176471);
  color: #fff;
  resize: none;
  border: 1px solid #fff;
}
main .contact-section .container .contact-form form .services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main .contact-section .container .contact-form form .services label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(181, 181, 181);
  white-space: nowrap;
}
main .contact-section .container .contact-form form .submit-btn {
  background-color: #aa13dc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #aa13dc;
  width: 125px;
}
main .contact-section .container .contact-form form .submit-btn:hover {
  background-color: #fff;
  color: #aa13dc;
}
main .contact-section .container .contact-form .error {
  margin-top: 30px;
  color: #ff3c3c;
}
main .contact-section .container .contact-form .success {
  margin-top: 30px;
  color: green;
}
main .contact-section .container .contact-form #form_error, main .contact-section .container .contact-form .success_icon, main .contact-section .container .contact-form .error_msg {
  margin: 0.5rem;
  display: none;
}
main .contact-section .container .contact-form .error_msg {
  color: #ff3c3c;
}
main .contact-section .container .contact-form .spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
main .contact-section .container .contact-form .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-section .container .contact-info, .contact-section .container .contact-form {
    width: 100%;
    max-width: none;
  }
  .contact-section .container .contact-info {
    margin-bottom: 40px;
  }
  .contact-section .container .label {
    white-space: wrap;
  }
}/*# sourceMappingURL=contact.css.map */