body {
  margin: 0;
  background-color: #111;
  color: #252525;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main .hero-section {
  height: 50vh; /* Takes half the screen height */
  background: url("../assets/man-on-phone-right.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  background-color: #222222;
}
main .hero-section h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
  letter-spacing: 0.12em;
}
main .hero-section p {
  font-size: 3vw;
  margin-bottom: 30px;
  border-bottom: 1px solid #7b10c2;
}
main .hero-section button {
  background-color: #fff;
  color: #7b10c2;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #7b10c2;
}
main .hero-section button:hover {
  background-color: #7b10c2;
  color: #fff;
}
main .contact-section {
  background: url("../assets/skull-min.jpg") no-repeat center center/cover;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
main .contact-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
main .contact-section .container .contact-info {
  flex: 1;
}
main .contact-section .container .contact-info h2 {
  color: #7b10c2;
}
main .contact-section .container .contact-info h1 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 20px;
}
main .contact-section .container .contact-info p, main .contact-section .container .contact-info a {
  color: #fff;
  margin: 10px 0;
  text-decoration: none;
}
main .contact-section .container .contact-info .social-media {
  display: flex;
  gap: 10px;
}
main .contact-section .container .contact-info .social-media a {
  color: #3498db;
  font-size: 1.5em;
  transition: color 0.3s;
}
main .contact-section .container .contact-info .social-media a:hover {
  color: #7b10c2;
}
main .contact-section .container .contact-form {
  flex: 1;
  background-color: rgba(34, 34, 34, 0.4156862745);
  padding: 20px;
  border-radius: 10px;
  width: 40%;
}
main .contact-section .container .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .contact-section .container .contact-form form input, main .contact-section .container .contact-form form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.2941176471);
  color: #252525;
  resize: none;
}
main .contact-section .container .contact-form form .services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
main .contact-section .container .contact-form form .services label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(181, 181, 181);
  white-space: nowrap;
}
main .contact-section .container .contact-form form .newsletter label {
  color: #252525;
}
main .contact-section .container .contact-form form .submit-btn {
  background-color: #fff;
  color: #7b10c2;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #7b10c2;
}
main .contact-section .container .contact-form form .submit-btn:hover {
  background-color: #7b10c2;
  color: #fff;
}

@media (max-width: 768px) {
  .contact-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-section .container .contact-info, .contact-section .container .contact-form {
    width: 100%;
    max-width: none;
  }
  .contact-section .container .contact-info {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=contact.css.map */