@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
}
@font-face {
  font-family: "Monoton-Regular";
  src: url("../assets/fonts/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UtopiaStd-BlackHeadline";
  src: url("../assets/fonts/UtopiaStd-BlackHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "malden-sans-medium";
  src: url("../assets/fonts/malden-sans-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #111;
  color: #252525;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
  background: url("../assets/good/plain-background.png") no-repeat center center;
  background-size: cover;
  color: #ececec;
  text-align: center;
  margin-top: 0px; /* Adjust as needed */
  margin-bottom: 0px; /* Adjust as needed */
  padding: 200px 0;
}
.hero-section canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hero-section .hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
  /* Typography styles for the hero section */
}
.hero-section .hero-content h1 {
  font-family: "UtopiaStd-BlackHeadline", sans-serif;
  font-size: min(5vw, 50px); /* Use min() to set a minimum font size */
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
  letter-spacing: 0.12em;
}
.hero-section .hero-content h2 {
  font-family: "UtopiaStd-BlackHeadline", sans-serif;
  font-size: min(3vw, 30px); /* Use min() to set a minimum font size */
  color: #fff;
  letter-spacing: 0.12em;
  margin-bottom: 30px;
}
.hero-section .hero-content .cta-button {
  background-color: #fff;
  color: #7403d1;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #7403d1;
  text-decoration: none;
}
.hero-section .hero-content .cta-button:hover {
  background-color: #7403d1;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero-section .hero-content h1 {
    font-size: 36px;
  }
  .hero-section .hero-content h2 {
    font-size: 24px;
  }
}

.contact-section {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.contact-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.contact-section .container .contact-info {
  flex: 1;
}
.contact-section .container .contact-info h2 {
  font-family: "UtopiaStd-BlackHeadline", sans-serif;
  color: #7403d1;
}
.contact-section .container .contact-info h1 {
  font-family: "UtopiaStd-BlackHeadline", sans-serif;
  font-size: min(5vw, 50px); /* Use min() to set a minimum font size */
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  letter-spacing: 0.12em;
}
.contact-section .container .contact-info p, .contact-section .container .contact-info a {
  color: #fff;
  margin: 10px 0;
  text-decoration: none;
}
.contact-section .container .contact-info .social-media {
  display: flex;
  gap: 10px;
}
.contact-section .container .contact-info .social-media a {
  color: #3498db;
  font-size: 1.5em;
  transition: color 0.3s;
}
.contact-section .container .contact-info .social-media a:hover {
  color: #7403d1;
}
.contact-section .container .contact-form {
  flex: 1;
  background-color: rgba(34, 34, 34, 0.4156862745);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #fff;
}
.contact-section .container .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-section .container .contact-form form input, .contact-section .container .contact-form form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.2941176471);
  color: #fff;
  resize: none;
  border: 1px solid #fff;
}
.contact-section .container .contact-form form .services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.contact-section .container .contact-form form .services label {
  display: flex;
  color: rgb(181, 181, 181);
  gap: 10px;
}
.contact-section .container .contact-form form .services input {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}
.contact-section .container .contact-form form .submit-btn {
  background-color: #7403d1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #7403d1;
  width: 125px;
}
.contact-section .container .contact-form form .submit-btn:hover {
  background-color: #fff;
  color: #7403d1;
}
.contact-section .container .contact-form .error {
  margin-top: 30px;
  color: #ff3c3c;
}
.contact-section .container .contact-form .success {
  margin-top: 30px;
  color: green;
}
.contact-section .container .contact-form #form_error, .contact-section .container .contact-form .success_icon, .contact-section .container .contact-form .error_msg {
  margin: 0.5rem;
  display: none;
}
.contact-section .container .contact-form .error_msg {
  color: #ff3c3c;
}
.contact-section .container .contact-form .spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
.contact-section .container .contact-form .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-section .container .contact-info, .contact-section .container .contact-form {
    width: 100%;
    max-width: none;
  }
  .contact-section .container .contact-info {
    margin-bottom: 40px;
  }
  .contact-section .container .label {
    white-space: wrap;
  }
}
.success-message {
  background-color: #f4f4f4;
  position: fixed;
  font-size: 22px;
  top: 0;
  z-index: 9999;
}/*# sourceMappingURL=contact.css.map */