@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Monoton-Regular";
  src: url("../assets/fonts/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UtopiaStd-BlackHeadline";
  src: url("../assets/fonts/UtopiaStd-BlackHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "malden-sans-medium";
  src: url("../assets/fonts/malden-sans-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.border-divider {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  position: relative;
  background-image: linear-gradient(to right, #000, #000);
  overflow: hidden;
  z-index: 1;
}
.border-divider::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px; /* Adjust height for the curve effect */
  background-color: #ffffff; /* Match the background color */
  position: absolute;
  left: 0;
  bottom: -20px; /* Half of the ::before height */
  border-radius: 50% 50% 0 0; /* Creates the curved effect */
}

.border-divider-top {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  position: relative;
  background-image: linear-gradient(to right, #1F1F1F, #1F1F1F, #737373);
  overflow: hidden;
  z-index: 1;
}
.border-divider-top::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px; /* Adjust height for the curve effect */
  background-color: #ffffff; /* Match the background color */
  position: absolute;
  left: 0;
  top: -20px; /* Adjusted to create a downward curve */
  border-radius: 0 0 50% 50%; /* Creates the downward curved effect */
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 80px; /* Adjust as needed */
}

.hero {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #ececec;
  text-align: left;
  margin-top: 0px; /* Adjust as needed */
  margin-bottom: 0px; /* Adjust as needed */
  padding: 200px 0;
  height: 100%;
  position: relative;
}

.hero-container {
  display: flex;
  align-items: start;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero-container canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto; /* Ensure mouse events are captured */
}

.hero-content {
  flex: 1; /* Adjusts the width based on available space */
  text-align: left;
  z-index: 3;
  pointer-events: none;
}
.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif; /* Custom font */
  font-weight: 700; /* Bold weight */
  color: #f2f2f2; /* Dark color for contrast */
  letter-spacing: 1px; /* Slightly increased letter spacing */
  line-height: 1.2; /* Adjusted line height for better readability */
  text-shadow: 2px 3px 3px rgba(251, 251, 251, 0.2); /* Subtle text shadow for depth */
}
.hero-content .scroll-effect-instructions {
  color: #3498db;
}
.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5em; /* Adjusted line height for better readability */
}
.hero-content .cta-button {
  background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 4%;
}
.hero-content .cta-button:hover {
  background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
}

.hero-image {
  flex: 1; /* Adjusts the width based on available space */
  padding: 10px;
  pointer-events: none;
}
.hero-image img {
  width: 100%;
  height: auto;
  position: relative;
}

.what-we-do {
  background: #fff;
  padding: 80px 0;
  text-align: center;
  padding-top: 150px;
  position: relative;
}
.what-we-do .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}
.what-we-do:before {
  content: "";
  position: absolute;
  top: 0;
  right: 200px;
  width: 20%;
  height: 100%;
  background: url("/src/assets/UI-Graphics/Leaf-1.png") no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center center;
  margin-top: 50px;
  border: 150px;
  filter: brightness(15) invert(2);
}
@media (max-width: 1024px) {
  .what-we-do:before {
    right: 50px;
    width: 25%;
  }
}
@media (max-width: 768px) {
  .what-we-do:before {
    top: 50px;
    right: 20px;
    width: 30%;
  }
}
.what-we-do h2 {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
}
.what-we-do h2::before {
  content: attr(data-first-word); /* Use content attribute to insert the first word */
  color: #AB0AE0; /* Color for the first word */
  font-weight: bold; /* Optionally, make it bold */
  position: absolute; /* Position absolutely relative to h2 */
  top: 0;
  left: 0;
  transform: translateX(-110%); /* Adjust position of the first word */
  white-space: nowrap; /* Ensure the first word stays on one line */
}
.what-we-do p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.what-we-do p .learn-more {
  display: inline-block;
  color: #AB0AE0;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
.what-we-do p .learn-more:hover {
  text-decoration: underline;
}

.features {
  background: #f9f9f9;
  padding: 40px 0;
}
.features .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .feature {
  flex: 1;
  max-width: 30%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
.features .feature .feature-icon {
  font-size: 40px;
  color: #AB0AE0;
  margin-bottom: 20px;
}
.features .feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.features .feature p {
  font-size: 16px;
  line-height: 1.6;
}

/* styles.css */
.bullet-point-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  background: #f9f9f9;
  border-radius: 40px;
}
.bullet-point-section .blob-img {
  width: 80%;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 400px;
  max-width: 866px;
  min-width: 490px;
  overflow: hidden;
  opacity: 0.1;
}

.bullet-point {
  width: 45%;
  margin-bottom: 40px;
  padding: 25px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .bullet-point {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.info {
  flex: 1;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .info {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.info img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .info img {
    width: 80%;
    max-width: 300px;
  }
}

.text {
  flex: 2;
}
@media (max-width: 768px) {
  .text {
    width: 100%;
  }
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
}

.our-services {
  background-color: #fff;
  padding: 40px 0;
}
.our-services .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.our-services .services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  color: #333;
}
@media (max-width: 768px) {
  .our-services .services-content {
    flex-direction: column;
  }
}
.our-services .services-image,
.our-services .services-text {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}
@media (max-width: 768px) {
  .our-services .services-image,
  .our-services .services-text {
    max-width: 100%;
  }
}
.our-services .services-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.our-services .services-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.our-services .services-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.team-cards {
  display: flex;
  margin: 5rem 0;
  padding: 4%;
}
.team-cards .team-card {
  width: 50%;
}
.team-cards .team-card .team-card-content .team-member img {
  width: 100%;
}

.pricing {
  background: #fff;
  padding: 40px 0;
}
.pricing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.pricing .container .pricing-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  color: #333;
}
.pricing .container .pricing-content .pricing-text {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}
.pricing .container .pricing-content .pricing-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.pricing .container .pricing-content .pricing-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.pricing .container .pricing-content .pricing-image {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.pricing .container .pricing-content .pricing-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 22%; /* Adjust as needed */
}
@media (max-width: 768px) {
  .pricing .container {
    flex-direction: column;
  }
  .pricing .container .pricing-content .pricing-text {
    max-width: 100%;
    padding: 10px;
  }
  .pricing .container .pricing-content .pricing-image {
    max-width: 100%;
    padding: 10px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 20px 0;
  }
  .hero .hero-container {
    flex-direction: column;
  }
  .hero .hero-container .hero-content, .hero .hero-container .hero-image {
    max-width: 100%;
  }
  .hero .hero-container .hero-content {
    text-align: left;
  }
  .hero .hero-container .hero-content h1 {
    font-size: 36px;
  }
  .hero .hero-container .hero-content p {
    font-size: 18px;
  }
  .hero .hero-container .hero-content .cta-button {
    font-size: 16px;
  }
  .features .container {
    flex-direction: column;
    align-items: center;
  }
  .features .feature {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .features .feature:last-child {
    margin-bottom: 0;
  }
  .pricing .pricing-content {
    flex-direction: column;
  }
  .pricing .pricing-content .pricing-text, .pricing .pricing-content .pricing-image {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .pricing .pricing-content .pricing-text:last-child, .pricing .pricing-content .pricing-image:last-child {
    margin-bottom: 0;
  }
  .team-cards {
    flex-direction: column;
    align-items: center;
  }
}
.pricing-section {
  background-image: linear-gradient(to right, #1F1F1F, #1F1F1F, #737373);
  padding: 40px 0;
  margin-bottom: 0;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pricing-card {
  width: calc(33.33% - 40px); /* Adjust card width based on the number of cards per row */
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  flex: 1 0 calc(33.33% - 40px); /* Adjusting for margin */
  display: flex;
  flex-direction: row; /* Ensure flex children behave as columns */
  height: 535px; /* Set a fixed height for all cards */
  font-size: 14px;
}

.pricing-card:nth-child(2) {
  height: 600px;
  margin-top: -60px; /* Adjust to overlap the second card */
  z-index: 1; /* Ensure this card is above the others */
}

.pricing-card:nth-child(4) ul {
  padding-right: 60%;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .pricing-cards {
    justify-content: center; /* Center cards in a single column */
  }
  .container {
    flex-direction: column;
    padding: 10px;
    margin: 20px;
  }
  .pricing-card {
    justify-content: space-between;
    width: 90%;
    height: auto;
  }
  .pricing-card:nth-child(2) {
    height: 470px;
    margin-top: 0;
  }
  .pricing-card:nth-child(4) ul {
    padding: 12px;
    padding-left: 12%;
  }
}
.pricing-card:hover {
  transform: translateY(-5px);
}

.pricing-card-content {
  padding: 20px;
  text-align: center;
  flex: 1; /* Grow to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-card-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.price {
  font-size: 36px;
  font-weight: bold;
}

.pricing-card-content .starting-price {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.pricing-card-content .estimated-price {
  font-size: 14px;
  color: #999;
  margin-bottom: 15px;
}

.pricing-card-content ul {
  padding: 12px;
  text-align: left;
  padding-left: 12%;
}

.pricing-card-content p {
  padding: 1rem;
}

.pricing-card-content ul li {
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
}

.cta-button:hover {
  background-color: #ff4500;
}

.gradient-text {
  background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
  -webkit-background-clip: text; /* For WebKit-based browsers */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Hides the original text color */
}

.gradient-icon {
  filter: url(#gradient);
}

.gradient-icon {
  filter: invert(41%) sepia(100%) saturate(477%) hue-rotate(233deg) brightness(100%) contrast(98%);
}/*# sourceMappingURL=index.css.map */