@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster.ttf");
}
@font-face {
  font-family: "Monoton-Regular";
  src: url("../assets/fonts/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UtopiaStd-BlackHeadline";
  src: url("../assets/fonts/UtopiaStd-BlackHeadline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "malden-sans-medium";
  src: url("../assets/fonts/malden-sans-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  background-color: rgba(51, 51, 51, 0.6509803922);
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  border-radius: 100px;
  position: relative;
  z-index: 9999;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  line-height: 0;
}
#nav-menu li {
  margin-left: 5px;
}
#nav-menu a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease, background-color 0.5s ease;
  font-size: 18px;
  margin: 5px; /* Reduce margin */
  padding: 8px 15px; /* Adjust padding */
  border-radius: 20px; /* Adjust the border radius as needed */
  position: relative;
  z-index: 1;
}
#nav-menu a::before {
  content: "";
}
#nav-menu a:hover::before {
  opacity: 1;
}
#nav-menu a:hover {
  color: #7403d1;
}

.consultation {
  margin: 0 30px;
}
.consultation button {
  background-color: #7403d1;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

/* Styles for the hamburger icon */
.hamburger-menu {
  display: none;
  cursor: pointer;
  z-index: 999;
}

.hamburger-icon {
  font-size: 20px;
  color: white;
  display: inline-block;
  transition: transform 0.5s ease; /* Add transition for rotation */
}

/* Media query to hide the menu and show the hamburger icon on smaller screens */
@media (max-width: 768px) {
  .navbar {
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: transparent;
    width: auto;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -250px; /* Initially hide it offscreen to the right */
    height: 100%;
    width: 250px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1;
  }
  .nav-menu.active {
    right: 0; /* Slide in from the right */
    background-color: #222;
  }
  .nav-menu li {
    margin: 20px 0;
  }
  .consultation {
    margin-top: 20px;
  }
  .hamburger-menu {
    display: block;
  }
}/*# sourceMappingURL=navbar.css.map */