html, body {
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

.cta-button {
  background-color: white;
  color: black;
  border: solid 2px white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 1.2rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.cta-button:hover {
  background-color: transparent;
  color: #fff;
}

.cta-button-dark {
  background-color: black;
  color: white;
  border: solid 2px black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100px;
  margin-top: 1.2rem;
  transition: background-color 0.4s ease, color 0.4s ease;
  width: 25%;
}
.cta-button-dark:hover {
  background-color: transparent;
  color: black;
}

.custom-h1 {
  font-size: 60px;
  line-height: 1.1em;
}

.custom-h2 {
  font-weight: bold;
  background: linear-gradient(to right, #9500ff, #460f92);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0.2em;
}

.section-container {
  display: flex;
  margin-top: 30px;
}
.section-container h1 {
  flex: 0 1 auto;
}
.section-container p {
  flex: 0 1 auto;
  padding-left: 60px;
}

@media (max-width: 480px) {
  .section-container {
    flex-direction: column;
  }
  .section-container p {
    padding: 18px 0;
  }
}
.full-width-img {
  width: 108%;
  height: 800px;
  margin-left: -4%;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.screenshot {
  width: 100%;
  height: auto;
  padding: 4%;
  border-radius: 20%;
}

@media (max-width: 480px) {
  .screenshot {
    padding: 0;
    border-radius: 0;
  }
}
.hero-section {
  position: absolute;
  top: 0;
  background: url("../assets/dipgaldips/jalepeno_popper.png") no-repeat;
  background-size: contain;
  background-position: center;
  height: 110vh;
  width: 100%;
  background-color: #b36a5e;
}

.contents-section {
  margin-top: calc(110vh - 62px);
  background-color: #f4f4f4;
  padding: 4%;
}
.contents-section .contents-container {
  display: flex;
}
.contents-section .contents-container .nav-column {
  flex: 1 1;
}
.contents-section .contents-container .nav-column .img-box {
  width: 200px;
  height: 200px;
  position: relative;
}
.contents-section .contents-container .nav-column .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.contents-section .contents-container .nav-column .img-box::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 15px;
  bottom: -20px;
}
.contents-section .contents-container .nav-column ul {
  list-style: none;
  margin-top: 40px;
}
.contents-section .contents-container .nav-column ul .content-link {
  color: #aa13dc;
  font-size: 18px;
  padding: 5px;
}
.contents-section .contents-container .nav-column ul .content-link:hover {
  color: #3498db;
}
.contents-section .contents-container .text-column {
  flex: 1 1;
}
.contents-section .contents-container .text-column h2 {
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .contents-section .contents-container {
    flex-direction: column;
  }
  .contents-section .contents-container .text-column {
    padding-left: 0;
    padding-top: 30px;
  }
}

#wordpress-solution {
  padding: 4%;
}

#seo {
  padding: 4%;
}
#seo .offset-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
#seo .offset-img-container .left-img {
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
}
#seo .offset-img-container .left-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
#seo .offset-img-container .right-img {
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: flex-end;
}
#seo .offset-img-container .right-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
@media (max-width: 768px) {
  #seo .offset-img-container .left-img {
    width: 100%;
    margin: 0;
  }
  #seo .offset-img-container .right-img {
    display: none;
  }
}

#ecommerce {
  padding: 4%;
  background-color: #111;
  overflow: hidden;
}
#ecommerce #rotate-img {
  overflow: hidden;
  width: auto;
  height: auto;
}
#ecommerce #rotate-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.1s;
}
#ecommerce p {
  color: #fff;
}/*# sourceMappingURL=project-partial.css.map */