* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #2c3e50;
  background-color: #222;
  line-height: 1.6;
}

.hero {
  background: url("../assets/mountain-lake.jpg") no-repeat center center/cover;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.hero .hero-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
}
.hero .hero-content h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
  letter-spacing: 0.12em;
  animation: fadeInDown 1s ease;
}
.hero .hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease;
}
.hero .hero-content a {
  display: inline-block;
  padding: 10px 20px;
  background: #3498db;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.hero .hero-content a:hover {
  background: #217dbb;
}

#design-develop-deliver {
  margin-top: calc(70vh - 60px);
}

.process-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.process-section:nth-of-type(1) {
  background-image: url("../assets/00.jpg");
  background-position: center;
  background-size: cover;
}
.process-section:nth-of-type(2) {
  background-image: url("../assets/01.jpg");
  background-position: center;
  background-size: cover;
}
.process-section:nth-of-type(3) {
  background-image: url("../assets/02.jpg");
  background-position: center;
  background-size: cover;
}
.process-section .process-content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 20px;
  background: rgba(34, 34, 34, 0.7607843137);
  height: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 50px;
}
.process-section .process-content:hover {
  background-color: #3498db;
}
.process-section .process-content .process-icon {
  flex: 0 0 100px;
}
.process-section .process-content .process-icon img {
  width: 100%;
  height: auto;
}
.process-section .process-content .process-text {
  flex: 1;
  color: #fff;
}
.process-section .process-content .process-text h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.process-section .process-content .process-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .process-content {
    flex-direction: column;
    text-align: center;
  }
  .process-content .process-icon {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=whyus.css.map */