// IMPORTS
@import 'variables';


body {
  background-color: $background-color-dark;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

p, a, li, button {

}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    $hero-background-image;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
  
    .hero-content {
      max-width: 800px;
      height: auto;
      padding: 20px;
  
      h1 {
        font-size: 48px;
        color: $secondary-color;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 24px;
        margin-bottom: 30px;
      }
  
      .hero-button {
        background-color: $secondary-color;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: $button-border-radius;
        cursor: pointer;
  
        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  }

.about-section {
  margin-top: 400px;
  padding: 60px 20px;
  background-color: $background-color-dark;
  
  .about-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1600px;
    margin: 0 auto;
    
    .about-text {
        background-color: #222;
        padding: 50px;
        border-radius: $standard-border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex: 1 1 500px;
      
      h2 {
        color: $secondary-color;
        font-size: 32px;
        margin-bottom: 20px;
      }
      
      h3 {
        color: $primary-color;
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        color: $text-color-light;
        margin-bottom: 20px;
        line-height: 1.6;
      }

      button {
        background-color: $button-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: $button-border-radius;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }

    .about-image {
      flex: 1 1 400px;
      padding: 20px;
      text-align: center;
      
      img {
        max-width: 100%;
        max-height: 500px;
        height: auto;
        border-radius: $standard-border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.team-section {
    padding: 60px 20px;
    background-color: $background-color-dark;
    
    h2 {
      text-align: center;
      color: $secondary-color;
      font-size: 32px;
      margin-bottom: 40px;
    }
    
    .team-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      max-width: 1600px;
      margin: 0 auto;
      
      .team-card {
        background-color: #222;
        border-radius: $standard-border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden;
        flex: 1 1 300px;
        max-width: 400px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
        
        h3 {
          color: $secondary-color;
          font-size: 24px;
          margin: 20px 0 10px;
        }
        
        p {
          color: $text-color-light;
          margin: 0 20px 20px;
          line-height: 1.6;
          
          &:first-of-type {
            color: $primary-color;
            font-style: italic;
          }
        }
      }
    }
  }

  .our-story-section{
    .container{
        p {
            background-color: #222;
            border-radius: $standard-border-radius;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 50px;
            color: $text-color-light;
        }
    }
  }

  .our-story-section, .our-values-section {
    padding: 60px 20px;
    background-color: $background-color-dark; 
    
  .container {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;

    h2 {
      color: $secondary-color;
      font-size: 32px;
      margin-bottom: 40px;
    }
    
    p {
      margin-bottom: 20px;
      line-height: $line-height;
    }
  }
}

.our-values-section {
  .values-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    .value-item {
      background-color: #222;
      padding: 20px;
      border-radius: $standard-border-radius;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1 1 400px;
      
      h3 {
        color: $secondary-color;
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        color: $text-color-light;
        line-height: $line-height;
      }
    }
  }
}

