// IMPORTS
@import 'variables';


body {
  background-color: $background-color-dark;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}


.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  $hero-background-image;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;

  .hero-content {
    max-width: 800px;
    height: auto;
    padding: 20px;

    h1 {
      font-size: min(7vw, 50px); /* Use min() to set a maximum font size */
      font-weight: bold;
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0); 
      -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
      letter-spacing: .12em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p {
      font-size: min(4vw, 20px); /* Use min() to set a maximum font size */
      margin-bottom: 30px;
    }

    .hero-button {
      background-color: #fff;
      color: $primary-color;
      border: none;
      padding: 10px 20px;
      font-size: min(1.5vw, 16px); /* Use min() to set a maximum font size */
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 2px solid $primary-color;
  
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

/* Example of a media query */
@media screen and (max-width: 768px) {
  .hero-section .hero-content {
      h1 {
          font-size: 40px; /* Adjust as needed for smaller screens */
      }
      p {
          font-size: 16px; /* Adjust as needed for smaller screens */
      }
      .hero-button {
          font-size: 14px; /* Adjust as needed for smaller screens */
      }
  }
}
.about-section {
  margin-top: 400px;
  padding: 60px 20px;
  background-color: $background-color-dark;
  
  .about-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1600px;
    margin: 0 auto;
    
    .about-text {
        background-color: #222;
        padding: 50px;
        border-radius: $standard-border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex: 1 1 500px;
      
      h2 {
        color: #fff;
        font-size: 32px;
        margin-bottom: 20px;
      }
      
      h3 {
        color: $primary-color;
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        color: $text-color-light;
        margin-bottom: 20px;
        line-height: 1.6;
      }

      button {
        background-color: #fff;
        color: $primary-color;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px solid $primary-color;
    
        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }

    .about-image {
      flex: 1 1 400px;
      padding: 20px;
      text-align: center;
      
      img {
        max-width: 100%;
        max-height: 500px;
        height: auto;
        border-radius: $standard-border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.team-section {
    padding: 60px 20px;
    background-color: $background-color-dark;
    
    h2 {
      text-align: center;
      color: #fff;
      font-size: 32px;
      margin-bottom: 40px;
    }
    
    .team-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      max-width: 1600px;
      margin: 0 auto;
      
      .team-card {
        background-color: #222;
        border-radius: $standard-border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden;
        flex: 1 1 300px;
        max-width: 400px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
        
        h3 {
          color: #ffffff00;
          -webkit-text-stroke: 1px rgb(255, 255, 255); 
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 24px;
          margin: 20px 0 10px;  
        }
        
        p {
          color: $text-color-light;
          margin: 0 20px 20px;
          line-height: 1.6;
          
          &:first-of-type {
            color: $primary-color;
            font-style: italic;
          }
        }
      }
    }
  }

  .our-story-section{
    .container{
        p {
            background-color: #222;
            border-radius: $standard-border-radius;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 50px;
            color: $text-color-light;

        }
    }
  }

  .our-story-section, .our-values-section {
    padding: 60px 20px;
    background-color: $background-color-dark; 
    
    
  .container {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    

    h2 {
        color: $primary-color;
        font-size: 32px;
        margin-bottom: 40px;
    }
    
    p {
        margin-bottom: 20px;
        line-height: $line-height;
    }
  }
}

.our-values-section {
  .values-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    .value-item {
      background-color: #222;
      padding: 20px;
      border-radius: $standard-border-radius;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1 1 400px;
      
      h3 {
        color: #ffffff00;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-text-stroke: 1px rgb(255, 255, 255); 
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        color: $text-color-light;
        line-height: $line-height;
      }
    }
  }
}

