@import "variables";
// @import "_buttons";


body {
    margin: 0;
    // font-family: $font-family;
    background-color: $background-color-dark;
    color: $text-color-dark;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: $background-color-dark;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .logo img {
            max-width: 150px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;

            li {
                a {
                    color: $secondary-color;
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                    transition: background-color 0.3s;

                    &.contact-btn {
                        background-color: $primary-color;
                    }

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}

main {
    .contact-section {
        background: url('../assets/skull-min.jpg') no-repeat center center/cover;
        padding: 60px 0;
        display: flex;
        justify-content: center;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 40px;

            .contact-info {
                flex: 1;

                h2 {
                    color: $primary-color;
                }

                h1 {
                    font-size: 2.5em;
                    margin-bottom: 20px;
                }

                p, a {
                    color: $secondary-color;
                    margin: 10px 0;
                    text-decoration: none;
                }

                .social-media {
                    display: flex;
                    gap: 10px;

                    a {
                        color: $secondary-color;
                        font-size: 1.5em;
                        transition: color 0.3s;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            .contact-form {
                flex: 1;
                background-color: $accent-color;
                padding: 20px;
                border-radius: 10px;
                width: 40%;

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    input, textarea {
                        width: 100%;
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: #222;
                        color: $text-color-dark;
                        resize: none;
                    }

                    .services {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: $text-color-dark;
                            white-space: nowrap; // Prevents text from wrapping

                        }
                    }

                    .newsletter {
                        label {
                            color: $text-color-dark;
                        }
                    }

                    .submit-btn {
                        padding: 15px;
                        border: none;
                        border-radius: 5px;
                        background-color: $primary-color;
                        color: $secondary-color;
                        font-size: 1.1em;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: darken($primary-color, 10%);
                        }
                    }
                }
            }
        }
    }
}

// Media Queries
@media (max-width: 768px) {
    .contact-section .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .contact-info, .contact-form {
            width: 100%;
            max-width: none;
        }

        .contact-info {
            margin-bottom: 40px;
        }
    }
}