.fade-in-text {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  opacity: 0;
  transition: opacity 1.5s ease;
  height: 100vh;
  overflow: hidden;
}
.fade-in-text.fade-in {
  opacity: 1 !important;
}

.cta-section {
  color: rgb(30, 30, 30);
  text-align: center;
  padding: 80px 0;
}

.cta-section .container {
  max-width: 800px;
  margin: 0 auto;
}

.cta-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #ff6b6b; /* Matching color for the button */
  border: none;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #ff6b6b; /* Keep button color consistent on hover */
}

.btn-primary {
  background-color: #fff;
  color: #ff6b6b;
}

.btn-primary:hover {
  background-color: #ff6b6b;
  color: #fff;
}

.hero-section {
  background: url("/assets/more/DESIGN.jpg") center/cover;
  background-size: cover;
  position: relative;
  height: 700px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
.hero-section .hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero-section .hero-content {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.hero-section .hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.hero-section .hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.hero-section .cta-button {
  background-color: #570069;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-section .cta-button:hover {
  background-color: #e6e6e6;
}

.contact-section, .about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  margin: 20px 80px;
  height: auto;
}

.text-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  flex: 1;
  padding: 0 50px;
}
.text-column h2 {
  font-size: 2rem;
  color: #9500ff;
  margin-bottom: 1em;
}
.text-column h3 {
  font-size: 1.5rem;
  color: #570069;
  margin: auto 0;
}
.text-column p {
  font-size: 1rem;
  color: rgb(30, 30, 30);
  line-height: 1.5;
  letter-spacing: 0.12em;
}
.text-column button {
  background-color: green;
  color: rgb(30, 30, 30);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #9500ff;
}
.text-column button:hover {
  background-color: #9500ff;
}

.image-column {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}
.image-column img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1268px) {
  .contact-section, .about-section {
    flex-direction: column; /* Adjust flex direction for mobile */
    text-align: left; /* Center text content */
    margin: auto;
  }
  .text-column {
    align-items: left; /* Center items horizontally */
    padding: 0; /* Reset padding */
  }
  .text-column h2, .text-column h3 {
    margin-top: auto;
    margin-bottom: 0.1em;
  }
  .text-column p {
    text-align: left; /* Align paragraph text to the left */
  }
  .text-column button {
    text-align: center; /* Center the button */
  }
  .image-column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Add margin to separate the two columns */
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0;
  }
}
.work-flow {
  padding: 40px 40px;
  background-color: #ffffff;
}

.clickable-section {
  position: relative;
}
.clickable-section img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}
.clickable-section:first-child img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.clickable-section:last-child img {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.clickable-section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
  color: white;
  font-size: 2rem;
  letter-spacing: 0.12em;
  text-align: center;
}
.clickable-section .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Start with scale(0) to hide overlay */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
  transition-delay: 0.3s; /* Add delay for paragraph overlay */
  padding: 20px;
  border-radius: 40px;
  box-sizing: border-box;
}
.clickable-section .overlay p {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.12em;
  line-height: 1.5;
  text-align: center;
  opacity: 0; /* Start with opacity 0 to hide paragraph */
  transition: opacity 0.3s ease; /* Add opacity transition */
}
.clickable-section:hover h2 {
  opacity: 0;
}
.clickable-section:hover .overlay {
  transform: translate(-50%, -50%) scale(1); /* Expand overlay on hover */
  opacity: 1;
  transition-delay: 0.1s; /* Remove delay for overlay */
}
.clickable-section:hover .overlay p {
  opacity: 1; /* Fade in paragraph on hover */
}

.multi-image-section {
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
}

.image-container {
  flex: 1;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  -o-object-fit: cover;
     object-fit: cover;
  margin: -2px;
}
.image-container h2 {
  font-size: 16px;
  letter-spacing: 0.12em;
}
.image-container a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.image-title {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.12em;
}

.testimonials-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.testimonial {
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center; /* Center text horizontally */
  width: 80%; /* Adjust the width as needed */
  border-radius: 10px;
}

.testimonial p {
  margin: 1em; /* Remove default paragraph margin */
}

.sliding-feature-section {
  display: flex;
  align-items: center;
}
.sliding-feature-section .sliding-feature-content {
  flex: 1;
  padding: 20px;
  text-align: center;
  width: 50%;
}
.sliding-feature-section .sliding-feature-image {
  flex: 1;
  overflow: hidden;
  width: 50%;
}
.sliding-feature-section .sliding-feature-image img {
  width: 100%;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  border: 4px solid red;
}
.sliding-feature-section .sliding-feature-image img.slide-in {
  transform: translateX(0);
}
.sliding-feature-section h2 {
  margin-bottom: 10px;
}
.sliding-feature-section button {
  padding: 10px 20px;
  background-color: #9500ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sliding-feature-section button:hover {
  background-color: #7a00cc;
}/*# sourceMappingURL=index.css.map */