// IMPORTS
@import 'variables';



// Define variables for colors and other reusable properties

$hero-background: url('../assets/more/DESIGN.jpg') center/cover;

body {
  background-color: $background-color-dark;
}
  // TEXT EFFECTS
  .fade-in-text {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    opacity: 0; // Initially hide the text
    transition: opacity 1s ease; // Smooth transition for opacity change
    height: 100vh; // Set height to 100% of viewport height
    overflow: hidden; // Hide overflowing content

    &.fade-in {
      opacity: 1 !important; // Fade in the text
    }
  }


  .overlay {
    background-color: rgb(2 2 2 / 31%);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  // Main hero section styles
  .hero-section {
    background: $hero-background;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);


    // .hero-video {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: auto;
    //   object-fit: cover;
    //   z-index: -1;
    // }

    .hero-content {
      position: relative;
      // max-width: 600px; // Adjust as needed
      margin: 0 auto; 
      z-index: 2;

      // Typography styles for the hero section
      h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: $primary-color;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 30px;
      }
    }


    // Button styles
    .cta-button {
      background-color: #fff;
      color: $primary-color;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 2px solid $primary-color;
  
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }



  .contact-section {
    margin-top: 100vh;
  }


  .contact-section, .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 8%;
    background: $background-color-dark;
    // background-image: url(/assets/purple-wavy-topleft.jpg);
  }
  
  .two-column-layout {
    display: flex; // Ensure the parent container is a flex container
    width: 100%;
    margin: 0 auto; // Center the layout
  }
  
  .text-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start; // Changed from 'start' to 'flex-start'
    flex: 1;
    padding: 0 50px; 
    background-color: #ffffff00; // Added missing semicolon
    color: #fff; // Set text color to white for contrast
  
    h2 {
      font-size: 2rem;
      color: $primary-color;
      margin-bottom: 1em;
    }
  
    h3 {
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 0.5em;
    }
  
    p {
      font-size: 1rem;
      color: #fff;
      line-height: 1.5;
      letter-spacing: .12em;
      margin-bottom: 1em;
    }
  
    button {
      background-color: #fff;
      color: $primary-color;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 2px solid $primary-color;
  
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
  
  .image-column {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 0; 
  
    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 30px;
      object-fit: contain;
    }
  }
  
  @media (max-width: 768px) {
    .two-column-layout {
      flex-direction: column; // Adjust flex direction for mobile
    }
  
    .text-column {
      align-items: center; // Center items horizontally
      padding: 0; // Reset padding
  
      h2, h3 {
        margin: 0.5em 0; // Adjust margins for headings
      }
  
      p {
        text-align: left; // Align paragraph text to the left
        margin: 0.5em 0; // Adjust margins for paragraphs
      }
  
      button {
        margin-top: 1em; // Add margin to separate the button from text
        text-align: center;
      }
    }
  
    .image-column {
      margin-top: 10px; // Add margin to separate the two columns
      padding: 0; // Reset padding
    }
  }


  .work-flow {
    padding: 8%; // STANDARD PfADDING
    background: $background-color-dark;
  }

  .clickable-section {
    position: relative;
    

    // Apply border radius to all corners initially

    img {
      width: 100%;
      display: block;
      transition: transform 0.3s ease;
    }

    // Reset border radius for images within .clickable-section
    &:first-child {
      img {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
      }
    }

    &:last-child {
      img {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
      }
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      z-index: 1;
      opacity: 1;
      transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
      color: white;
      font-size: 2rem;
      letter-spacing: .12em;
      text-align: center;
      z-index: 0;
    }
    
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0); /* Start with scale(0) to hide overlay */
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5); // Transparent black overlay
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
      transition-delay: 0.3s; /* Add delay for paragraph overlay */
      padding: 20px;
      border-radius: 40px;
      box-sizing: border-box;
  
      p {
        color: white;
        font-size: 1rem;
        letter-spacing: .12em;
        line-height: 1.5;
        text-align: center;
        opacity: 0; /* Start with opacity 0 to hide paragraph */
        transition: opacity 0.3s ease; /* Add opacity transition */
      }
    }
    
    &:hover h2 {
      opacity: 0;
    }
  
    &:hover .overlay {
      transform: translate(-50%, -50%) scale(1); /* Expand overlay on hover */
      opacity: 1;
      transition-delay: .1s; /* Remove delay for overlay */
    }
  
    &:hover .overlay p {
      opacity: 1; /* Fade in paragraph on hover */
    }
  }



    .multi-image-section {
      display: flex;
      flex-direction: column;

    }
    
    .image-row {
      display: flex;
    }
    
    .image-container {
      flex: 1;
      position: relative;
      
      img {
        width: 100%;
        height: 200px; /* Adjust the height as needed */
        object-fit: cover;
        margin: -2px;
      }

      h2 {
        font-size: 16px;
        letter-spacing: .12em;
      }

      a {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit text color from parent */
        cursor: pointer; /* Change cursor to pointer on hover */
      }
    }

    .image-title {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px 10px; 
      border-radius: 5px;
      letter-spacing: .12em;
    }


    .testimonials-container {
      background-color: $background-color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
    }
    
    .testimonial {
        background-color: #fff;
        color: $text-color-dark;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        text-align: center; /* Center text horizontally */
        width: 80%; /* Adjust the width as needed */
        border-radius: 10px;
    }
  
    .testimonial p {
        margin: 1em; /* Remove default paragraph margin */
    }







  .sliding-feature-section {
    display: flex;
    align-items: center;

    .sliding-feature-content {
      flex: 1;
      padding: 20px;
      text-align: center;
      width: 50%;
    }

    .sliding-feature-image {
      flex: 1;
      overflow: hidden;
      width: 50%;

      img {
        width: 100%;
        transition: transform 0.5s ease;
        transform: translateX(-100%);
        border: 4px solid red;
      }

      img.slide-in {
        transform: translateX(0);
      }
    }

    h2 {
      margin-bottom: 10px;
    }

    button {
      padding: 10px 20px;
      background-color: #9500ff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #7a00cc;
      }
    }
  }
    



    