@import 'variables';
@import "mixins";
@include sr_only;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide-overlay {
    overflow-x: hidden;
}

.logo-container {
    display: block;
    
}

.logo-hidden {
    display: none;
}

.logo-link {
    z-index: 9999;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.logo {
    border-radius: 50px;
    // position: absolute;
    z-index: 1;
    // margin-left: 4%;
    width: 100px;
    height: 100px;
}

@media (max-width: 480px) {
    .logo-link, .logo {
        width: 80px;
        height: 80px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    width: fit-content;
    margin: 30px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -15%);
    z-index: 9999;
    font-family: 'Inter', sans-serif;
    max-width: 1200px;
}
    
.social-links-container {
    margin-left: 1rem;
    padding: 17px;
}

.social-links-container-hamburger {
    display: none;
}


.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    letter-spacing: 0;
    border-radius: 100px;
    height: 50px;


    // li {
    //     margin-left: 5px;
    // }

    a {
        color: white;
        text-decoration: none;
        transition: color 0.5s ease, background-color 0.5s ease;
        font-size: 18px;
        margin: 5px; /* Reduce margin */
        padding: 8px 15px; /* Adjust padding */
        border-radius: 20px; /* Adjust the border radius as needed */
        position: relative;
        z-index: 1;
        white-space: nowrap;
    }

    a::before {
        content: "";

    }

    a:hover::before {
        opacity: 1;
    }

    a:hover {
        color: $primary-color;
    }
}

.links-container {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

/* Styles for the hamburger icon */
.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 999;
}

.hamburger-icon {
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: transform 0.5s ease; /* Add transition for rotation */
    position: absolute;
    top: 21px;
    right: 17px;
}

/* Media query to hide the menu and show the hamburger icon on smaller screens */
@media (max-width: 768px) {
    .navbar {
        // justify-content: flex-end;
        padding: 10px 20px;
        background-color: transparent;
        width: auto;
        transform: translate(0%, 0%);
        height: 100%;
        right: 0;
        top: -30px;
        position: fixed;
    }

    .logo-container {
        display: none;
    }

    .logo-hidden {
        display: block;
    }

    .social-links-container-hamburger {
        margin-top: 1rem;
        display: block;
    }
    .social-links-container {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -250px; /* Initially hide it offscreen to the right */
        height: 100%;
        width: 250px;
        background-color: transparent;
        // display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease; 
        z-index: 1;
        a {
            padding: 0;
        }
    }

    .nav-menu.active {
        right: 0; /* Slide in from the right */
        background-color: #222;
        display: flex;
    }

    .nav-menu li {
        margin: 20px 0;
    }

    .consultation {
        margin-top: 20px;
    }
    
    .hamburger-menu {
        display: block;
        align-self: flex-end;
    }

    .hamburger-icon.active {
        transform: rotate(90deg);
    }

}