@import 'variables';

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu {
    a{
        color: white;
        text-decoration: none;
        transition: color 0.5s ease;
    }

    a:hover {
        color: $primary-color;
    }
}



.consultation {
    margin: 0 30px; // Adjust margin as needed

    button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }
}

/* Styles for the hamburger icon */
.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 999;
}

.hamburger-icon {
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: transform 0.5s ease; /* Add transition for rotation */
}

/* Media query to hide the menu and show the hamburger icon on smaller screens */
@media (max-width: 768px) {
    .navbar {
        justify-content: flex-end;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -250px; /* Initially hide it offscreen to the right */
        height: 100%;
        width: 250px;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease; 
        z-index: 1;
    }

    .nav-menu.active {
        right: 0; /* Slide in from the right */
    }

    .nav-menu li {
        margin: 20px 0;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-icon.active {
        transform: rotate(90deg); /* Rotate the icon when active */
    }

    .consultation {
        margin-top: 20px;
    }
}