@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "variables.scss";


$background-color-dark: #333;
$header-font: 'Arial', sans-serif;


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

section {
    // margin-top: 80px; /* Adjust as needed */
    margin-bottom: 80px; /* Adjust as needed */
}





.hero {
    display: flex;
    align-items: center;
    background: url('../assets/good/dark-abstract-background.jpg') no-repeat center center;
    background-size: cover;
    color: #ececec;
    text-align: left;
    margin-top: 0px; /* Adjust as needed */
    margin-bottom: 0px; /* Adjust as needed */
    padding: 100px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.hero-content {
    max-width: 50%;
    margin-top: 80px;
    h1 {
        font-size: 48px;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif; /* Custom font */
        font-weight: 700; /* Bold weight */
        color: #f2f2f2; /* Dark color for contrast */
        letter-spacing: 1px; /* Slightly increased letter spacing */
        line-height: 1.2; /* Adjusted line height for better readability */
        text-shadow: 2px 3px 3px rgba(251, 251, 251, 0.2); /* Subtle text shadow for depth */
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

    p {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .cta-button {
        background: #AB0AE0;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background: #ff4500;
        }
    }
}

.hero-image {
    max-width: 50%;
    padding: 50px;
    img {
        width: 100%;
        height: auto;
        position: relative;
    }
}

.what-we-do {
    background: #fff;
    padding: 40px 0;
    text-align: center;
    padding-top: 150px;

    .container {
        max-width: 1200px;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto;

        .learn-more {
            display: inline-block;
            color: #AB0AE0;
            text-decoration: none;
            font-weight: bold;
            margin-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.features {
    background: #f9f9f9;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .feature {
        flex: 1;
        max-width: 30%;
        text-align: center;
        padding: 40px;
        box-sizing: border-box;

        .feature-icon {
            font-size: 40px;
            color: #AB0AE0;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }
}







/* styles.css */

.bullet-point-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    .blob-img {
        width: 80%;
        height: auto;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 400px;
        max-width: 866px;
        min-width: 490px;
        overflow: hidden;
        opacity: .1;
    }
    // background: url("../assets/blob.png") no-repeat;
    // background-size: cover;
    // background-color: $background-color-dark;
  }
  
  .bullet-point {
    width: 45%;
    margin-bottom: 40px;
    padding: 25px;
    display: flex;
    align-items: flex-start; // Align items at the start of the flex container

    @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.info {
    flex: 1;
    margin-right: 20px;

    @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        width: 80%; // Ensure the images maintain a smaller standard size on smaller screens
        max-width: 300px; // Maximum width to keep images consistent
    }
}

.text {
    flex: 2;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
  }




  .our-services {
    background-color: #fff;
    // background-color: $background-color-dark;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .services-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        color: #333;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .services-image,
    .services-text {
        flex: 1;
        max-width: 50%;
        padding: 20px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    .services-image {
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px;
        }
    }

    .services-text {
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
    }
}




.team-cards {
    display: flex;
    margin: 5rem 0;
    padding: 4%;
    .team-card {
        width: 50%;
        // background: url("../assets/blob.png") no-repeat;
        // background-size: cover;
        .team-card-content .team-member img {
            width: 100%;
        }
    }
}

.pricing {
    background: #fff;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .pricing-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        color: #333;
    }

    .pricing-text {
        flex: 1;
        max-width: 50%;
        padding: 20px;

        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
    }

    .pricing-image {
        flex: 1;
        max-width: 50%;
        padding: 20px;
        position: relative;
        overflow: hidden;


        img {
            width: 100%;
            height: auto;
            display: block;
            background: rgb(255, 255, 255);
            border-radius: 22%;
            /* Adjust the polygon values to create your desired blob shape */
        }
    }
}




@media (max-width: 768px) {


    .hero {
        height: auto;
        padding: 20px 0;

        .hero-container {
            flex-direction: column;

            .hero-content, .hero-image {
                max-width: 100%;
            }

            .hero-content {
                text-align: center;
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 18px;
                }

                .cta-button {
                    font-size: 16px;
                }
            }
        }
    }

    .features {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .feature {
            max-width: 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .pricing {
        .pricing-content {
            flex-direction: column;

            .pricing-text, .pricing-image {
                max-width: 100%;
                margin-bottom: 20px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .team-cards {
        flex-direction: column;
        align-items: center;
    }
}








.pricing-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.pricing-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing-card {
    width: 300px;
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    flex: 1 0 calc(300px - 20px); /* Adjusting for margin */
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card-content {
    padding: 20px;
    text-align: center;
}

.pricing-card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 36px;
    font-weight: bold;
}

.pricing-card-content .starting-price {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.pricing-card-content .estimated-price {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}

.pricing-card-content ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.pricing-card-content ul li {
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background-color: #AB0AE0;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff4500;
}


.gradient-text {
    // background: linear-gradient(45deg, #ff4500, #ab0ae0);
    -webkit-background-clip: text;
    background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);

    background-clip: text;
    color: transparent;
}

@keyframes sparkle {
    0% {
        text-shadow: 0 0 1px rgba(222, 37, 255, 0.8);
    }
    50% {
        text-shadow: 0 0 6px rgba(222, 37, 255, 0.8);
    }
    100% {
        text-shadow: 0 0 1px rgba(222, 37, 255, 0.8);
    }
}

.sparkly-text2 {
    position: relative; /* Ensures text-shadow works properly */
    transition: color 0.3s ease;
}

.sparkly-text2:hover {
    color: transparent; /* Hides original text color */
    animation: sparkle 1s infinite; /* Applies the sparkle animation */
}



.gradient-text2 {
    // background: linear-gradient(45deg, #ff4500, #ab0ae0);
    -webkit-background-clip: text;
    background: linear-gradient(45deg, #9b02d3, #ab0ae0);

    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1; /* Ensure text appears above the background */
}

@keyframes sparkle {
    0% {
        background-size: 100% 100%; /* Full size */
    }
    50% {
        background-size: 300% 300%; /* Increase size */
    }
    100% {
        background-size: 100% 100%; /* Return to original size */
    }
}

.sparkly-text2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ff4500, #ab0ae0);
    z-index: -1;
    background-size: 100% 100%; /* Full size */
    opacity: 0;
    transition: opacity 0.3s ease, background-size 0.7s ease;
    pointer-events: none; /* Ensure hover works on text */
}

.sparkly-text2:hover::before {
    opacity: 1;
    animation: sparkle 1s infinite; /* Applies the sparkle animation */
}