@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "variables.scss";


$background-color-dark: #333;
$header-font: 'Arial', sans-serif;


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

section {
    // margin-top: 80px; /* Adjust as needed */
    margin-bottom: 80px; /* Adjust as needed */
}













.hero {
    display: flex;
    align-items: center;
    background: url('../assets/good/plain-background.png') no-repeat center center;
    background-size: cover;
    color: #ececec;
    text-align: left;
    margin-top: 0px; /* Adjust as needed */
    margin-bottom: 0px; /* Adjust as needed */
    padding: 200px 0;
    
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

.hero-content {
    flex: 1; /* Adjusts the width based on available space */
    text-align: left;
    h1 {
        font-size: 48px;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif; /* Custom font */
        font-weight: 700; /* Bold weight */
        color: #f2f2f2; /* Dark color for contrast */
        letter-spacing: 1px; /* Slightly increased letter spacing */
        line-height: 1.2; /* Adjusted line height for better readability */
        text-shadow: 2px 3px 3px rgba(251, 251, 251, 0.2); /* Subtle text shadow for depth */
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

    p {
        font-size: 24px;
        margin-bottom: 30px;
        line-height: 1.5em; /* Adjusted line height for better readability */

    }

    .cta-button {
        background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
        }
    }
}

.hero-image {
    flex: 1; /* Adjusts the width based on available space */
    padding: 10px;

    img {
        width: 100%;
        height: auto;
        position: relative;
    }
}

.what-we-do {
    background: #fff;
    padding: 80px 0;
    text-align: center;
    padding-top: 150px;
    position: relative; // Ensure the content is positioned relative to the container

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        position: relative;
        z-index: 2; // Ensure the content is above the background graphic
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 200px;
        width: 20%;
        height: 100%;
        background: url('/src/assets/UI-Graphics/Leaf-1.png') no-repeat center center;
        background-size: cover;
        opacity: 0.1; // Adjust opacity for a subtle effect
        z-index: 1; // Ensure the graphic is behind the content
        transform: rotate(25deg); // Rotate the background graphic
        transform-origin: center center; // Ensure the rotation occurs around the center
        margin-top: 50px;   
        border: 150px;

        @media (max-width: 1024px) {
            right: 50px;
            width: 25%;
        }

        @media (max-width: 768px) {
            top: 50px;
            right: 20px;
            width: 30%;
        }
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
        position: relative; // Ensure the position is relative for the pseudo-element

        &::before {
            content: attr(data-first-word); /* Use content attribute to insert the first word */
            color: #AB0AE0; /* Color for the first word */
            font-weight: bold; /* Optionally, make it bold */
            position: absolute; /* Position absolutely relative to h2 */
            top: 0;
            left: 0;
            transform: translateX(-110%); /* Adjust position of the first word */
            white-space: nowrap; /* Ensure the first word stays on one line */
        }
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;

        .learn-more {
            display: inline-block;
            color: #AB0AE0;
            text-decoration: none;
            font-weight: bold;
            margin-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}







.features {
    background: #f9f9f9;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: center;
    }

    .feature {
        flex: 1;
        max-width: 30%;
        text-align: center;
        padding: 40px;
        box-sizing: border-box;

        .feature-icon {
            font-size: 40px;
            color: #AB0AE0;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }
}







/* styles.css */

.bullet-point-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    .blob-img {
        width: 80%;
        height: auto;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 400px;
        max-width: 866px;
        min-width: 490px;
        overflow: hidden;
        opacity: .1;
    }
    // background: url("../assets/blob.png") no-repeat;
    // background-size: cover;
    // background-color: $background-color-dark;
  }
  
  .bullet-point {
    width: 45%;
    margin-bottom: 40px;
    padding: 25px;
    display: flex;
    align-items: flex-start; // Align items at the start of the flex container

    @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.info {
    flex: 1;
    margin-right: 20px;

    @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        width: 80%; // Ensure the images maintain a smaller standard size on smaller screens
        max-width: 300px; // Maximum width to keep images consistent
    }
}

.text {
    flex: 2;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
  }




  .our-services {
    background-color: #fff;
    // background-color: $background-color-dark;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .services-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        color: #333;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .services-image,
    .services-text {
        flex: 1;
        max-width: 50%;
        padding: 20px;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    .services-image {
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px;
        }
    }

    .services-text {
        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
    }
}




.team-cards {
    display: flex;
    margin: 5rem 0;
    padding: 4%;
    .team-card {
        width: 50%;
        // background: url("../assets/blob.png") no-repeat;
        // background-size: cover;
        .team-card-content .team-member img {
            width: 100%;
        }
    }
}

.pricing {
    background: #fff;
    padding: 40px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .pricing-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        color: #333;
    }

    .pricing-text {
        flex: 1;
        max-width: 50%;
        padding: 20px;

        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }
    }

    .pricing-image {
        flex: 1;
        max-width: 50%;
        padding: 20px;
        position: relative;
        overflow: hidden;


        img {
            width: 100%;
            height: auto;
            display: block;
            background: rgb(255, 255, 255);
            border-radius: 22%;
            /* Adjust the polygon values to create your desired blob shape */
        }
    }
}




@media (max-width: 768px) {


    .hero {
        height: auto;
        padding: 20px 0;

        .hero-container {
            flex-direction: column;

            .hero-content, .hero-image {
                max-width: 100%;
            }

            .hero-content {
                text-align: left;
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 18px;
                }

                .cta-button {
                    font-size: 16px;
                }
            }
        }
    }

    .features {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .feature {
            max-width: 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .pricing {
        .pricing-content {
            flex-direction: column;

            .pricing-text, .pricing-image {
                max-width: 100%;
                margin-bottom: 20px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .team-cards {
        flex-direction: column;
        align-items: center;
    }
}







.pricing-section {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pricing-card {
    width: calc(33.33% - 40px); /* Adjust card width based on the number of cards per row */
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    flex: 1 0 calc(33.33% - 40px); /* Adjusting for margin */
    display: flex;
    flex-direction: row; /* Ensure flex children behave as columns */
    height: 535px; /* Set a fixed height for all cards */
}

@media (max-width: 768px) {
    .pricing-cards {
        justify-content: center; /* Center cards in a single column */
    }

    .pricing-card {
        justify-content: space-between;
        width: 90%;
        height: auto;
    }

    .pricing-card:nth-child(2) {
        height: 470px;
        margin-top: 0; /* Adjust to overlap the second card */
    }

    .container {
        flex-direction: column;
        padding: 10px;
        margin: 20px;
    }

    

}

.pricing-card:nth-child(2) {
    height: 600px;
    margin-top: -60px; /* Adjust to overlap the second card */
    z-index: 1; /* Ensure this card is above the others */
}



.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card-content {
    padding: 20px;
    text-align: center;
    flex: 1; /* Grow to fill available space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.pricing-card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 36px;
    font-weight: bold;
}

.pricing-card-content .starting-price {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.pricing-card-content .estimated-price {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}

.pricing-card-content ul {
    padding: 32px;
    text-align: left;
    margin-top: auto; /* Push list to bottom if there's extra space */
}

.pricing-card-content p {
    padding: 1rem;
}

.pricing-card-content ul li {
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: auto auto;
}

.cta-button:hover {
    background-color: #ff4500;
}


.gradient-text {
    // background: linear-gradient(45deg, #ff4500, #ab0ae0);
    background: linear-gradient(135deg, #AB0AE0, #8500b5, #8d00d4, #6D0A90, #AB0AE0);
    -webkit-background-clip: text; /* For WebKit-based browsers */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Hides the original text color */
}






.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-left h3, .footer-right h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #AB0AE0;
}

.footer-bottom-text {
    margin-top: 20px;
    font-size: 12px;
}