@import "variables";

html, body {
    background-color: $background-color-light;
    scroll-behavior: smooth;
}

p {
    font-size: 18px;
    line-height: 1.6em;
}

a {
    text-decoration: none;
}

.cta-button {
    background-color: map-get($primary-btn-outline, background-color);
    color: map-get($primary-btn-outline, color);
    border: map-get($primary-btn-outline, border);
    padding: map-get($primary-btn-outline, padding);
    text-align: map-get($primary-btn-outline, text-align);
    text-decoration: map-get($primary-btn-outline, text-decoration);
    display: map-get($primary-btn-outline, display);
    font-size: map-get($primary-btn-outline, font-size);
    cursor: map-get($primary-btn-outline, cursor);
    border-radius: map-get($primary-btn-outline, border-radius);
    margin-top: 1.2rem;
    transition: background-color 0.4s ease, color 0.4s ease;

    &:hover {
        background-color: transparent;
        color: $text-color-light;
    }
}

.cta-button-dark {
    background-color: map-get($secondary-btn-outline, background-color);
    color: map-get($secondary-btn-outline, color);
    border: map-get($secondary-btn-outline, border);
    padding: map-get($secondary-btn-outline, padding);
    text-align: map-get($secondary-btn-outline, text-align);
    text-decoration: map-get($secondary-btn-outline, text-decoration);
    display: map-get($secondary-btn-outline, display);
    font-size: map-get($secondary-btn-outline, font-size);
    cursor: map-get($secondary-btn-outline, cursor);
    border-radius: map-get($secondary-btn-outline, border-radius);
    margin-top: 1.2rem;
    transition: background-color 0.4s ease, color 0.4s ease;
    width: 25%;

    &:hover {
        background-color: transparent;
        color: black;
    }
}

.custom-h1 {
    font-size: 60px;
    line-height: 1.1em;
}

.custom-h2 {
    font-weight: bold;
    background: $linear1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; 
    color: transparent;
    font-size: 24px;
    letter-spacing: 0.2em;
}

.section-container {
    display: flex;
    margin-top: 30px;

    h1 {
        flex: 0 1 auto;
    }

    p {
        flex: 0 1 auto;
        padding-left: 60px;
    }
}

@media (max-width: 480px) {
    .section-container {
        flex-direction: column;
        p {
            padding: 18px 0;
        }
    }
}

.full-width-img {
    width: 108%;
    height: 800px;
    margin-left: -4%;
    padding: 0;
    object-fit: cover;
    object-position: center;
}

.screenshot {
    width: 100%;
    height: auto;
    padding: 4%;
    border-radius: 20%;
}

@media (max-width: 480px) {
    .screenshot {
        padding: 0;
        border-radius: 0;
    }
}
// .overlay {
//     background-color: rgb(2 2 2 / 31%);
//     width: 100%;
//     height: 50vh;
//     position: absolute;
//     z-index: 1;
//     top: 0;
// }

.hero-section {
    position: absolute;
    top: 0;
    background: url("../assets/dipgaldips/jalepeno_popper.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 100%;  
    background-color: #b36a5e;
}

.contents-section {
    margin-top: calc(100vh - 62px);
    background-color: $background-color-light;
    padding: 4%;
    .contents-container {
        display: flex;
        .nav-column {
            flex: 1 1;
            .img-box {
                width: 200px;
                height: 200px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .img-box::after {
                content: "";
                display: block;
                width: 50%; 
                height: 1px; 
                background-color: #000;
                position: absolute;
                left: 15px; 
                bottom: -20px;
            }

            ul {
                list-style: none;
                margin-top: 40px;
                .content-link {
                    color: $primary-color;
                    font-size: 18px;
                    padding: 5px;
                }

                .content-link:hover {
                    color: $secondary-color;
                }
            }
        }
        .text-column {
            flex: 1 1;
            h2 {
               padding-bottom: 10px; 
            }
        }
    }

    @media (max-width: 768px) {
        .contents-container {
            flex-direction: column;  
            .text-column {
                padding-left: 0;
                padding-top: 30px;
            }
        }

    }
}

#wordpress-solution {
    padding: 4%;
}

#seo {
    padding: 4%;
    .offset-img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;

        .left-img{
            padding: 20px;
            width: 50%;
            display: flex;
            align-items: flex-start;
            margin-bottom: 100px;
            img {
                width: 100%;
                height: auto;
                border-radius: 20px;
            }
        }

        .right-img{
            padding: 20px;
            width: 50%;
            display: flex;
            align-items: flex-end;
            img {
                width: 100%;
                height: auto;
                border-radius: 20px;
            }
        }

        @media (max-width: 768px) {
            .left-img {
                width: 100%;
                margin: 0;
            }
            .right-img {
                display: none;
            }
        }
    }
}

#branding {
    padding: 4%;
    overflow: hidden;
    // background-color: #c5d86d;
    background-color: $background-color-dark;
    h1 {
        font-family: "Lobster", Sans-serif;
        font-size: 42px;
        text-align: center;
        // color: #b36a5e;
        color: $text-color-light;
    }
    #rotate-img {
        overflow: hidden;
        width: auto;
        height: auto;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            transition: transform 0.1s;
        }
    }
    #rotate-img::before {
        content: '';
        position: absolute;
        top: 10%; /* Adjust the position above the image */
        left: 50%;
        transform: translateX(-50%);
        width: 2px; /* Width of the line */
        height: 8%; /* Height of the line */
        background-color: yellow; /* Color of the line */
      }
    
    .spark {
        content: "";
        position: absolute;
        width: 2px;
        height: 8%;
        background-color: yellow;
    }
    
    .spark1 {
        top: 22%;
        left: 67%;
        transform: rotate(45deg);
    }

    .spark2{
        top: 45%;
        left: 76%;
        transform: rotate(90deg);
    }
    
    .spark3 {    
        top: 74%;
        left: 72%;
        transform: rotate(135deg);   
    }
    
    .spark4 {
        top: 88%;
        left: 53%;
        transform: rotate(180deg);  
    }
    
    .spark5 {
        top: 74%;
        left: 33%;
        transform: rotate(225deg);
    }
    
    .spark6 {
        top: 45%;
        left: 27%;
        transform: rotate(270deg);
    }

    .spark7 {
        top: 23%;
        left: 34%;
        transform: rotate(315deg);
    }
    
    .section-container {
        padding-top: 8%;
    }
    p {
        color: $text-color-light;
    }
}

#gallery {
    background-color: $background-color-dark;
    padding: 4%;
    .custom-h1 {
        text-align: center;
        color: $secondary-color;
        margin-bottom: 12px;
    }
    .multi-image-container {
        display: flex;
        flex-direction: column;

        .image-row {
            display: flex;
        }
        
        .image-container {
            flex: 1;
            position: relative;
            overflow: hidden;
        
            img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin: -2px;
            transition: transform 0.3s ease, opacity 0.3s ease; // Smooth transition for transform and opacity
            }
        
            h2 {
            background-color: rgb(29 29 29 / 68%);
        
            font-size: 16px;
            letter-spacing: .12em;
            }
        
            a {
            text-decoration: none; // Remove underline
            color: inherit; // Inherit text color from parent
            cursor: pointer; // Change cursor to pointer on hover
            }
        
            .image-title {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #fff;
            background-color: #252525ad;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease; // Smooth transition for background color
            }
        
            &:hover {
            img {
                transform: scale(1.1); // Zoom in the image
                opacity: 0.8; // Slightly fade the image
            }
        
            .image-title {
                background-color: rgba(84, 2, 122, 0.7); // Change background color on hover
            }
            }
        }

        #image-overlay {
            display: none; 
            position: fixed; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9); 
            z-index: 1000; 
            justify-content: center;
            align-items: center;
            display: flex;
        }
        
        .closebtn {
            position: absolute;
            top: 20px;
            right: 35px;
            font-size: 40px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
        
        .overlay-content {
            width: 100%;
            height: 100%;
            object-fit: contain; 
        }
    }
    
    
}