@import "variables";

html, body {
    background-color: $background-color-dark;
    scroll-behavior: smooth;
}

p {
    font-size: 18px;
}

.cta-button {
    background-color: map-get($primary-btn-outline, background-color);
    color: map-get($primary-btn-outline, color);
    border: map-get($primary-btn-outline, border);
    padding: map-get($primary-btn-outline, padding);
    text-align: map-get($primary-btn-outline, text-align);
    text-decoration: map-get($primary-btn-outline, text-decoration);
    display: map-get($primary-btn-outline, display);
    font-size: map-get($primary-btn-outline, font-size);
    cursor: map-get($primary-btn-outline, cursor);
    border-radius: map-get($primary-btn-outline, border-radius);
    margin-top: 1.2rem;
    transition: background-color 0.4s ease, color 0.4s ease;
    width: 50%;
    min-width: 120px;

    &:hover {
        background-color: transparent;
        color: $text-color-light;
    }
}

.cta-button-dark {
    background-color: map-get($secondary-btn-outline, background-color);
    color: map-get($secondary-btn-outline, color);
    border: map-get($secondary-btn-outline, border);
    padding: map-get($secondary-btn-outline, padding);
    text-align: map-get($secondary-btn-outline, text-align);
    text-decoration: map-get($secondary-btn-outline, text-decoration);
    display: map-get($secondary-btn-outline, display);
    font-size: map-get($secondary-btn-outline, font-size);
    cursor: map-get($secondary-btn-outline, cursor);
    border-radius: map-get($secondary-btn-outline, border-radius);
    margin-top: 1.2rem;
    transition: background-color 0.4s ease, color 0.4s ease;
    width: 50%;

    &:hover {
        background-color: transparent;
        color: black;
    }
}

.custom-h1 {
    font-size: min(8vw, 50px);
    line-height: 1.1em;
    margin: 15px 0;
}

.custom-h2 {
    font-weight: bold;
    background: $linear1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; 
    color: transparent;
    font-size: 24px;
    letter-spacing: 0.2em;
}

.hero-gradient {
    color: $text-color-light;
    font-size: min(7vw, 50px);
}

.show-sm-screen {
    display: none;
}

.overlay {
    background-color: rgb(2 2 2 / 39%);
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 1;
    top: 0;
}

@media (max-width: 768px) {
    .show-sm-screen {
        display: block;
    }
}

.clearfix::after {
    content: ""; /* Empty content */
    display: table; /* Create a new table-like block formatting context */
    clear: both; /* Clear floats */
}

.border-radius-curved-tr {
    border-radius: 32px 84px 32px 32px;
}

.hero-section {
    position: absolute;
    top: 0;
    height: 70vh;
    width: 100%;
    
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        position: relative;
        height: 100%;
        background-color: $background-color-dark;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .cta {
            width: 50%;
            position: absolute;
            left: 30%;
            z-index: 999;
            // bottom: 50%;
            // text-align: center;
        }

        .custom-h1 {
            // color: #ffffff;
            -webkit-text-stroke: 2px rgb(255, 255, 255); 
            font-weight: bold;
            color: rgba(0, 0, 0, 0); 
            letter-spacing: .12em;
        }

        img {
            position: absolute;
            right: -20%;
            min-width: 50%;
            height: 100%;
        }

        @media (max-width: 768px) {

            .cta {
                // left: 50%;
                // bottom: 0;
                // min-width: 200px;
                // margin-bottom: 2rem;
            }

            // img {
            //     left: 50%;
            // }
        }

        @media (max-width: 480px) {
            // .cta {
            //     left: 25px;
            // }

            // img {
            //     left:  0;
            // }
        }
    }

    .hero-card-slide-container {
        display: flex;
        width: 100%;
        height: auto;
        background-color: $background-color-dark;
        color: $text-color-light;

        .hero-card {
            width: 25%;
            height: 150px;
            padding: 15px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 12px;
                background-color: $background-color-light;
            }
        }

    }

    @media (max-width: 480px) {
        .hero-card-slide-container {
            display: none;
        }
    }
    
}

.contents {
    height: auto;
    width: 100%;
    margin-top: calc(70vh + 150px);
    
    .contents-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.65);
        overflow: hidden;
        padding: 36px;

        a {
            text-decoration: none;
            margin: 1.2em;
        }

        .content-title {
            display: flex;
            justify-content: space-between;
            color: $text-color-light;
            font-size: 22px;
            transition: font-size 0.3s ease, color 0.3s ease;
        }
        
        a:hover .content-title {
            font-size: 26px; 
            color: $primary-color;
        }
    }

}

@media (max-width: 768px) {
    .contents {
        .contents-container {
            display: block;
            .content-title {
                font-size: 15px;
            }

            a:hover .content-title {
                font-size: 16px; 
                color: $primary-color;
            }
        }  
    } 
}

@media (max-width: 480px) {
    .contents {
        margin-top: 65vh;
    }
}

.sub-cta {
    width: 100%;
    display: flex;
    position: relative;
    overflow-x: hidden;

    .cta-column {
        padding: 26px;
        width: 50%;        
        display: flex;
        flex-direction: column;
    }

    p {
        color: $text-color-dark;
    }

    .video-box {
        width: 50%;
        height: 600px;
        margin-right: 4rem;
        position: relative;

        .video-thumbnail {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            object-fit: cover;
            border-radius: 50px;
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            background: url('../assets/play-button.svg') no-repeat center center;
            background-size: contain;
            cursor: pointer;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Change to 'contain' if you want the entire video visible */
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            border-radius: 50px;
        }
    }
}

.icons {
    background-color: $background-color-light;
    display: flex;
    width: 100%;
    padding: 2rem;
    align-items: center;

    .icon {
        display: flex;
        flex-direction: column;
        color: $text-color-dark;
        justify-content: center;
        align-items: center;
        padding: 12px;
        text-align: center;

        h3 {
            color: $accent-color;
            padding: 15px 0;
        };
        img {
            width: 50px;
            height: 50px;
        }

        p {
            font-size: 15px;
        }
    }
}

@media (max-width: 768px) {
    .sub-cta {
        flex-direction: column-reverse;

        .cta-column {
            width: 100%;
            height: 100%
        }

        .video-box {
            width: 70%;
            margin: 25px;
            align-self: center;
        }
    }

    .icons {
        flex-direction: column;
    }
}

.section-3 {
    background-color: $background-color-dark;
    color: #fff;
    width: 100%;
    padding: 12%;

    img {
        width: 100%;
    }

    ul li p{
        color: #fff;
        font-size: 18px;
    }

    .text-column {
        // flex: 0 0 auto;
        width: 50%;
        float: left;
    }
    
    .img-container {
        width: 50%;
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        float: right;
        padding: 0 4%;
        padding-left: 50px;
        .img-box {
            background: none;
            width: 100%;
            border-radius: 20px;
            margin: 10% 5px;
            
            img {
                display: block;
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
        }

        
    }
    .img-container::-webkit-scrollbar {
        display: none;
    }

    .img-container {
        scrollbar-width: thin; 
        scrollbar-color: $primary-color transparent; 
    }
    
    .img-container::-webkit-scrollbar-thumb {
        background-color: red; 
    }

    @media (max-width: 768px) {
        .img-container {
            display: none;
        }

        .text-column {
            float: none;
            width: 100%;
            padding-top: 28px;
        }
    }
}

.section-1 .img-box {
    width: 50%;
    min-width: 224px;
    img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 768px) {
    .section-1 .img-box {
        margin: 0 auto;
    }
}
.section-1, .section-5, .section-2 {
    background-color: $background-color-light;
    padding: 4%;
}

.section-4 {
    padding: 4%;
    padding-top: 12%;
    .sub-cta {
        .cta-column {
            padding-top: 8%;
            padding-bottom: 8%;
        }
    }
    
    h1, p {
        color: $text-color-light;
    }
}

.section-5 {
    .sub-cta {
        .cta-column {
            padding-top: 8%;
            padding-bottom: 8%;
        }
    }
}