@import "variables";
// @import "_buttons";

body {
    background-color: #151515;
}

.cta-button {
    background-color: map-get($primary-btn-outline, background-color);
    color: map-get($primary-btn-outline, color);
    border: map-get($primary-btn-outline, border);
    padding: map-get($primary-btn-outline, padding);
    text-align: map-get($primary-btn-outline, text-align);
    text-decoration: map-get($primary-btn-outline, text-decoration);
    display: map-get($primary-btn-outline, display);
    font-size: map-get($primary-btn-outline, font-size);
    cursor: map-get($primary-btn-outline, cursor);
    border-radius: map-get($primary-btn-outline, border-radius);
    margin-top: 1.2rem;
    transition: background-color 0.4s ease, color 0.4s ease;

    &:hover {
        background-color: transparent;
        color: white;
    }
}

.hero-section {
    position: absolute;
    top: 0;
    background: url("../assets/assets/abstract-background-2.webp") no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    

    .hero-content {
        position: relative;
        height: 100%;
        .cta {
            position: absolute;
            bottom: 100px;
            left: 25vw;

            h1 {
                color: $primary-color;
                font-size: 24px;
                letter-spacing: 0.2em;
                line-height: 1.6em;
            }

            h2 {
                color: $background-color-light;
                font-size: 20px;
                letter-spacing: 0.2em;
                line-height: 1.6em;
            }
        }
    }
}

#services {
    margin-top: 50vh;
    transition: all 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

    .service-row {
        display: flex;
        padding: 1.2rem;
        max-width: 1000px;
        
        
        .wordpress {
            background-color: #000;
            flex: 2 2;
        }

        .custom-code, .web-apps, .social-media, .seo {
            flex: 1 1;
        }

        .ecommerce {
            flex: 2 2;
        }

    }

    

    .service-card {
        height: 325px;
        position: relative;
        border-radius: 30px;
        margin: 0 0.6rem;

        h2 {
            position: absolute;
            color: #ffffff;
            bottom: 10px;
            left: 25px;
            opacity: 1;
            transition: opacity 0.7s ease;
        }
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }

        button {
            position: absolute;
            bottom:20px;
            left: 25px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.7s ease, visibility 0.7s ease,
                        background-color 0.4s ease, color 0.4s ease;
        }

        &:hover h2{
            opacity: 0;
        }

        &:hover button{
            opacity: 1;
            visibility: visible;
            transition: opacity 0.7s ease, visibility 0.7s ease,
                        background-color 0.4s ease, color 0.4s ease;
        }
    }

    @media (max-width: 768px) {
        .service-row {
            flex-direction: column;
            max-width: 100%;
            padding: 0;
            margin: 0 0.6rem;

            .seo, .social-media {
                background-color: transparent;
            }
        }

        .service-card {
            margin: 0.6rem;
        }
    }

    .lets-chat {
        width: calc(100% - 2.4rem);
        background: $radial1;
        position: relative;
        border-radius: 30px;
        margin: 1.2rem;
        max-width: 1000px;
        overflow: hidden;

        h2 {
            position: absolute;
            right: 20%;
            top: 50%;
            color: white;
            font-size: 32px;
            font-family: $heading-font-family;
        };

        button {
            position: absolute;
            right: 18%;
            top: calc(50% + 1.6em);
        }

        img {
            border-radius: 30px;
        }
    }
}

