
$hero-bg: url('../assets/mountain-lake.jpg');
$design-bg: #222222;
$develop-bg: #222;
$deliver-bg: #222;
$primary-color: #3498db;
$secondary-color: #2c3e50;
$accent-color: #ecf0f1;
$font-family: 'Helvetica Neue', Arial, sans-serif;

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: $font-family;
  color: $secondary-color;
  background-color: #222;
  line-height: 1.6;
}

// Hero Section
.hero {
  background: $hero-bg no-repeat center center/cover;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;

    h1 {
      font-size: 5vw;
      font-weight: bold;
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0); 
      -webkit-text-stroke: 2px rgb(255, 255, 255); /* Border width and color */
      letter-spacing: .12em;
      animation: fadeInDown 1s ease;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 20px;
      animation: fadeInUp 1s ease;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background: $primary-color;
      color: #fff;
      border-radius: 5px;
      text-decoration: none;
      transition: background 0.3s ease;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

// Process Sections
#design-develop-deliver {
  margin-top: calc(70vh - 60px);
}
.process-section {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:nth-of-type(1) {
    background-image: url("../assets/00.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 0 auto;
  }

  &:nth-of-type(2) {
    background-image: url("../assets/01.jpg");
    background-position: center;
    background-size: cover;
  }

  &:nth-of-type(3) {
    background-image: url("../assets/02.jpg");
    background-position: center;
    background-size: cover;
  }

  .process-content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
    background: #222222c2;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 50px;

    &:hover {
      background-color: $primary-color;
    }

    .process-icon {
      flex: 0 0 100px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .process-text {
      flex: 1;
      color: #fff;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
  }
}

// Animations
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Responsive Design
@media (max-width: 768px) {
  .process-content {
    flex-direction: column;
    text-align: center;

    .process-icon {
      margin-bottom: 20px;
      width: 100px;
    }
  }
}