// Import variables
@import '../scss/variables.scss';

// Define styles using variables
body {
  font-family: $body-font-family;
  margin: 0;
  padding: 0;
}

header {
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  // padding: $standard-padding 0;
}

main {
  // padding: $standard-padding;
}

section {
  // margin-bottom: $standard-margin;
}

h2 {
  color: $text-color;
  font-size: 24px;
}

p {
  color: #666;
}

.btn {
  display: inline-block;
  background-color: $secondary-color;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  // border-radius: $border-radius;
  // transition: background-color $transition-duration ease;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

/* Define global styles using variables */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $standard-padding 0;
  position: relative;
  background-color: $background-color;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 2px;
    background-color: $primary-color;
  }

  &:nth-child(even) .content {
    order: 1;
  }
}

.content {
  max-width: 80%;
  margin-left: $standard-margin;
  margin-right: $standard-margin;
  text-align: center;
  margin: 0 auto;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $standard-padding;
  background-color: $background-color;

  h2 {
    // margin: $standard-margin;
    // padding: $standard-padding;
    letter-spacing: 1.3px;
    color: $primary-color;
    // font-size: $xlarge-font-size;
    border-radius: 20px;
    // font-family: $heading-font-family;
  }

  p {
    // margin: $standard-margin;
    margin-bottom: 70px;
    // padding: $standard-padding;
    letter-spacing: 1.6px;
    line-height: 2;
    // font-size: $medium-font-size;
    color: $text-color;
  }

  img {
    max-width: 100%;
    height: auto;
    // margin-bottom: $standard-margin;
  }
}

.design {
  // background-color: $dark-text-color;
  margin-top: 100px;
}

.development {
  // background-color: $dark-text-color;
}

.deliver {
  // background-color: $dark-text-color;
}

/* Media queries */
@media screen and (max-width: 1276px) {
  .content {
    h2 {
      // font-size: $large-font-size;
    }
    p {
      // font-size: $medium-font-size;
    }
    img {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    h2 {
      // font-size: $medium-font-size;
    }
    p {
      // font-size: $small-font-size;
    }
    img {
      max-width: 80%;
    }
  }
}